.two-column-layout {
    position: fixed;
    top: 80px;
    left: 80px;
    right: 0;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    overflow: hidden;
    z-index: 10;
    height: calc(100vh - 80px);
    border-radius: 10px;
}

.left-panel {
    background-color: var(--gray-neutral-light);
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 0;
    max-width: 100%;
    box-sizing: border-box;
}

.right-panel {
    background-color: var(--gray-light);
    padding: 20px;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 0;
    box-shadow: inset 8px 0 8px 0px var(--gray-light-muted);
}

.panel-header-fixed {
    flex-shrink: 0;
}

.panel-content-form {
    flex: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--white-cloud);
    border: 1px solid var(--gray-light-muted);
    border-radius: 6px;
    box-shadow: 0 4px 8px var(--black-alpha-20)
}

.panel-scroll-container {
    flex: 1;
    min-height: 0;
    width: 100%;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    /* Ajusta según tu espacio */
}

.client-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    color: var(--gray-dark);
    flex-shrink: 0;
    margin-top: auto;
}

.client-label {
    font-weight: bold;
    font-size: 1.3rem;
}

.client-name {
    font-weight: 400;
    font-size: 1.3rem;
}

.label-form,
.label-plate-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--gray-dark);
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
}

.label-plate-form {
    margin-bottom: 0;
    margin-top: 1rem;
    margin-left: 0.1rem;
}


.input-form-new {
    position: relative;
    width: 100%;
}

.input-plate {
    width: 100%;
    height: 68px;
    border: 3px solid var(--black-alpha-34);
    background: var(--white);
    border-radius: 10px;
    padding-top: 30px;
    /* espacio para label + icono */
    padding-bottom: 8px;
    font-weight: bold;
    font-size: 45px;
    text-align: center;
    box-shadow: 0 0 0 3px var(--white), 0 0 0 3px var(--white);
    outline: none;
    color: var(--gray-obsidian);
}

.input-plate:focus {
    border-color: var(--blue-primary-bright);
    box-shadow: 0 0 0 1px var(--blue-primary-bright);
}

.input-form-add {
    width: 100%;
    height: 50px;
    border: 1px solid var(--black-alpha-34);
    background: var(--white);
    border-radius: 4px;
    padding: 4px 6px 7px 50px;
    margin-top: 8px;
    box-sizing: border-box;
    outline: none;
    transition: border 0.3s ease;
}

.input-form-add:focus {
    border-color: var(--blue-primary-bright);
    box-shadow: 0 0 0 1px var(--blue-primary-bright);
}

.icon-new-value {
    position: absolute;
    top: 55%;
    left: 12px;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    pointer-events: none;
    fill: currentColor;
    color: var(--blue-dark-bright);
}


/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
    .two-column-layout {
        position: absolute;
        display: block;
        left: 0;
    }

    .left-panel,
    .right-panel {
        width: 100%;
    }
}

@media screen and (max-width: 320px) {
    .two-column-layout {
        position: static;
        display: block;
        margin-top: 160px;
        /* Ajusta la altura del header y el menú */
        margin-left: 0;
    }

    .left-panel,
    .right-panel {
        width: 100%;
    }
}

@media screen and (min-width: 800px) and (max-width: 1340px) and (orientation: landscape) {

    .two-column-layout {
        height: 88vh;
        grid-template-columns: 1.5fr 2fr;
    }

    .input-form-new {
        width: 90%;
    }

    .input-plate {
        width: 98%;
    }
}

@media (max-width: 1440px) and (max-height: 900px) and (orientation: landscape) {

    .input-plate {
        width: 38%;
    }
}