/* === ESTRUCTURA GENERAL === */
.result-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 0.25rem;
    background: var(--white);
    border: 1px solid var(--gray-medium-light);
    border-radius: 5px;
    padding: 0.5rem;
    width: 96%;
    max-width: 1200px;
    margin-bottom: 0.5rem;
}

/* === BLOQUES CAR=== */
.first-result-car {
    flex: 0 0 auto;
    margin-left: 0.4rem;
}

.third-result-car {
    flex: 0 0 50px;
}

/* === PLATE  === */
.input-plate-container {
    background: var(--white);
    border: 2px solid var(--pure-black);
    border-radius: 8px;
    padding: 0.3rem 0.4rem;
    min-width: auto;
    max-width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    box-shadow: 0 0 0 2px var(--white), 0 0 0 2px var(--white)
}

.plate-header {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.ecuador-icon {
    width: 18px;
    height: auto;
}

.input-plate-container label {
    font-size: 0.7rem;
    font-weight: 500;
}

.input-plate-vehicle {
    font-size: 1rem;
    font-weight: bold;
    border: none;
    background: transparent;
    text-align: center;
    pointer-events: none;
}

/* === CLIENT + VEHICLE CAR === */
.second-result-car {
    flex: 1;
    display: flex;
    align-items: center;
    min-width: 0;
    gap: 1.3rem;
    margin-left: -3.5rem;
}

.div-label {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: var(--font-medium);
    max-width: 100%;
}

.div-icon-vehicle {
    display: flex;
    align-items: center;
}

.icon-vehicle {
    width: 32px;
    height: 32px;
    object-fit: contain;
}

/* ===BUTTON EYE === */
.button-eye-car {
    background: none;
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-eye-car {
    width: 32px;
    height: 32px;
    opacity: 50%;
}

/* === RESPONSIVE === */
@media (max-width: 768px) {
    .result-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .second-result-car {
        width: 100%;
        justify-content: space-between;
    }

    .third-result-car {
        align-self: flex-end;
    }
}