.page-container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-y: auto;
}

.content-container {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.titleContainer {
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #000000;
  margin-top: 20px;
  margin-bottom: 10px;
}

.title {
  font-size: 40px;
  font-style: normal;
  font-weight: 100;
  margin-top: 5px;
}

.containerApp {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.logo {
  max-width: 480px;
  max-height: 130px;
  width: 100%;
  height: auto;
  object-fit: contain;
  margin-top: 10px;
}

.image {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: auto;
  z-index: 2;
}

.image-container {
  width: 50%;
  /* Ajusta el ancho de la imagen según tus necesidades */
  height: auto;
}

.image-container img {
  width: 66%;
  height: auto;
  object-fit: contain;
  margin-left: 20px;

  /* Estilos específicos para Chrome */
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    width: 53%;
    height: auto;
    object-fit: contain;
    margin-left: 20px;
  }
}

@media not all and (min-resolution:.001dpcm) {

  .image-container img {
    /* Estilos específicos de Safari */
    width: 66%;
    height: auto;
    object-fit: contain;
    margin-left: 20px;
    margin-top: 130px;
  }

}

.content-image {
  position: relative;
  margin-left: 30px;
  margin-top: 50px;
}

.content-image-express {
  position: static;
  margin-left: 30px;
  margin-top: 50px;
}

.content-image-login {
  position: absolute;
  bottom: 0;
  margin-left: 20px;
}

.blurred-image {
  max-height: 250px !important;
  max-width: 550px !important;
  position: absolute;
  bottom: 0;
  left: 50%;
  /* Centrar en el contenedor */
  transform: translateX(0%);
  /* Ajustar al centro exacto */
  z-index: 10;
  opacity: 0.5;
}

.blurred-image-express {
  max-height: 250px !important;
  max-width: 550px !important;
  position: absolute;
  bottom: 0;
  left: 73%;
  /* Centrar en el contenedor */
  transform: translateX(-170%);
  /* Ajustar al centro exacto */
  z-index: 10;
  opacity: 0.5;
}

.button-login-express {
  background: white;
  width: 40%;
  padding: 6px 24px;
  box-sizing: border-box;
  border-radius: 13px;
  color: #316EA8;
  font-style: normal;
  font-size: 24px;
  border: 2px solid #316EA8
}

.button-login-express:hover {
  background-color: #00358B;
  color: white;
  border: 2px solid white;
  /* Cambiar el color de fondo al pasar el cursor sobre el botón */
}

.nameContainer,
.rolContainer,
.profile-container {
  margin-bottom: 10px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .nameContainer {
    padding: 1em;
  }
}

.name {
  font-size: 30px;
  font-style: normal;
  font-weight: 100;
  margin-top: 5px;
}

@media screen and (max-width: 600px) {
  .rolContainer {
    padding: 1em;
  }
}

.rol {
  font-size: 25px;
  font-style: normal;
  font-weight: 100;
}

.profile-pic {
  width: 150px;
  /* Tamaño inicial de la imagen */
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 20px;
}

@media screen and (max-width: 600px) {
  .profile-pic {
    width: 100px;
    /* Ajusta el tamaño de la imagen para dispositivos móviles */
    height: 100px;
  }
}

@media screen and (max-width: 400px) {
  .profile-pic {
    width: 80px;
    /* Ajusta el tamaño de la imagen para pantallas más pequeñas */
    height: 80px;
  }
}

.alternate-button {
  background-color: transparent;
  border: none;
  color: #00358B;
  /* Color del enlace */
  font-size: 16px;
  text-decoration: underline;
  margin-top: 10px;
  /* Espacio entre los botones */
  cursor: pointer;
}

.alternate-button:hover {
  color: #00358B;
  /* Color del enlace al pasar el cursor */
}

.alternate-button:focus {
  outline: none;
}

.pin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.number-pad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* Ajusta según tus necesidades */
  gap: 10px;
  /* Espaciado entre los botones */
  margin-top: 20px;
}

.number-pad button {
  background-color: #316EA8;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 9px 10px;
  /* Espacio interior para que los botones sean más grandes */
  cursor: pointer;
  /* Cambiar cursor a mano al pasar sobre el botón */
  font-size: 18px;
  /* Aumentar el tamaño de fuente */
  transition: background-color 0.3s;
  /* Animación suave al cambiar el color de fondo */
  font-weight: bold;
}

.number-pad button:hover {
  background-color: #00358B;
  /* Cambiar el color de fondo al pasar el cursor sobre el botón */
}

.container-login-express {
  display: flex;
  /* Activa Flexbox */
  justify-content: center;
  gap: 70px;
  margin-top: 20px;
}

.left,
.right {
  padding: 0;
  /* Asegura que no haya padding */
  margin: 0 5px;
  /* Añade un pequeño margen entre los divs */
}

.form-container-login-express {
  width: 80%;
  max-width: 400px;
  /* ajusta según tus necesidades */
  margin: 0 auto;
  /* centra el formulario horizontalmente */
  box-sizing: border-box;
  text-align: center;
}

.form-input-login-express {
  width: 80%;
  height: 43px;
  padding: 12px;
  box-sizing: border-box;
  /* esto hace que el padding no agregue ancho adicional al input */
  border: 1px solid #E1E1E4;
  border-radius: 13px;
  font-style: normal;
  font-weight: 600;
  text-align: center;
  font-size: 25px;
  margin-bottom: 10px;
}

.password-login-express {
  width: 80%;
  height: 43px;
  box-sizing: border-box;
  border: 1px solid #E1E1E4;
  border-radius: 13px;
  font-style: normal;
  font-weight: 600;
  font-size: 80px;
  text-align: center;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-top: 13px;
  padding-bottom: 12px;
  overflow: hidden;
  letter-spacing: 4px;
  font-family: Arial, sans-serif;
}

.container-button-delete-number {
  background: none;
  border: none;
}

.button-delete-number {
  width: 25px;
  height: 25px;
  margin-bottom: -5px;
}

.container-button-login-express {
  margin-top: 20px;
  text-align: center;
}

.container-button-other-account {
  margin-top: 5px;
  text-align: center;
}

.container-data-user {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  box-sizing: border-box;
  text-align: center;
  margin-left: 50px;
}

.span-message {
  font-size: 18px;
  font-weight: 100;
  width: 60%;
  white-space: normal;
  display: inline-block;
}

.span-message-welcome {
  font-size: 50px;
  font-weight: 100;
  width: 60%;
  white-space: normal;
  display: inline-block;
}

.logo-welcome {
  width: 40%;
}

.next-icon {
  transform: rotate(180deg);
}

.label-welcome {
  font-size: 30px;
  font-weight: 400;
  margin-top: 27px;
  margin-right: 80px;
}

.div-next {
  text-align: center;
  margin: 20px;
}

.content-container-welcome {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
}

.container-logo-welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 10px;
}


.spinner-container-app {
  display: grid;
  place-items: center; /* Centrar en ambos ejes */
  position: fixed;     /* Hacerlo fijo en la posición */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; 
}


@media screen and (max-width: 900px) {
  .blurred-image {
    max-height: 180px;
    max-width: 400px;
  }

  .blurred-image-express {
    max-height: 180px;
    max-width: 400px;
  }
}

@media screen and (max-width: 600px) {
  .blurred-image {
    max-height: 120px;
    max-width: 250px;
  }

  .blurred-image-express {
    max-height: 120px;
    max-width: 250px;
  }
}

@media screen and (max-width: 600px) {
  .logo {
    max-width: 100px;
    max-height: 80px;
  }
}
 

@media screen and (max-width: 400px) {
  .blurred-image {
    max-height: 80px;
    max-width: 150px;
  }

  .blurred-image-express {
    max-height: 80px;
    max-width: 150px;
  }
}

/* Estilo específico para tablets en orientación horizontal */
@media screen and (min-width: 601px) and (max-width: 1024px) and (orientation: landscape) {

  .blurred-image {
    max-height: 200px !important;
    max-width: 300px !important;
    margin-bottom: 15px;
  }

  .blurred-image-express {
    max-height: 200px !important;
    max-width: 300px !important;
    margin-bottom: 15px;
  }

}

/* Estilo para tablets en orientación horizontal */
@media screen and (min-width: 1340px) and (max-width: 1340px) and (min-height: 800px) and (max-height: 800px)  {
  .blurred-image {
    max-height: 400px;
    max-width: 800px;
  }
  .blurred-image-express {
    max-height: 400px;
    max-width: 800px;
  }
}

@media screen and (min-width: 800px) and (max-width: 1340px) and (orientation: landscape) {

  .logo {
    max-width: 460px;
    max-height: 120px;
  }


.blurred-image {
  max-height: 250px !important;
  max-width: 460px !important;
}

.blurred-image-express {
  max-height: 250px !important;
  max-width: 460px !important;
  left: 65%;
}

.container-login-express {
  gap: 40px;
  margin-top: 10px;
}

.number-pad {
  margin-top: 8px;
}

.content-container-login-express {
  margin-top: -10px;
}

.container-button-login-express {
  margin-top: 15px;
}

.container-button-other-account {
  margin-top: 2px;
  margin-bottom: 20px;
}





}