.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.content-container {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.titleContainer {
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #000000;
  margin-top: 20px;
  margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
  .titleContainer {
    padding: 1em;
  }
}

.title {
  font-size: 40px;
  font-style: normal;
  font-weight: 100;
  margin-top: 5px;
}

@media (max-width: 600px) {
  .title {
    font-size: 20px;
  }
}

.containerApp {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.logo {
  max-width: 480px;
  max-height: 130px;
  width: 100%;
  height: auto;
  object-fit: contain;
  margin-top: 10px;
}

@media (max-width: 414px) {
  .logo {
    width: 50%;
  }
}

.image {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: auto;
  z-index: 2;
}

.image-container {
  width: 50%;
  /* Ajusta el ancho de la imagen según tus necesidades */
  height: auto;
}

.image-container img {
  width: 66%;
  height: auto;
  object-fit: contain;
  margin-left: 20px;

  /* Estilos específicos para Chrome */
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    width: 53%;
    height: auto;
    object-fit: contain;
    margin-left: 20px;
  }
}

@media not all and (min-resolution:.001dpcm) {
  @media {
    .image-container img {
      /* Estilos específicos de Safari */
      width: 66%;
      height: auto;
      object-fit: contain;
      margin-left: 20px;
      margin-top: 130px;
    }
  }
}



.blurred-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  opacity: 0.5;
  filter: blur(0px);
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .blurred-image {
    width: 500px;
  }
}

.nameContainer {
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #000000;
  margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
  .nameContainer {
    padding: 1em;
  }
}

.name {
  font-size: 30px;
  font-style: normal;
  font-weight: 100;
  margin-top: 5px;
}

.rolContainer {
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #000000;
}

@media screen and (max-width: 600px) {
  .rolContainer {
    padding: 1em;
  }
}

.rol {
  font-size: 25px;
  font-style: normal;
  font-weight: 100;
}

.profile-pic {
  width: 150px; /* Tamaño inicial de la imagen */
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 20px;
}

@media screen and (max-width: 600px) {
  .profile-pic {
    width: 100px; /* Ajusta el tamaño de la imagen para dispositivos móviles */
    height: 100px;
  }
}

@media screen and (max-width: 400px) {
  .profile-pic {
    width: 80px; /* Ajusta el tamaño de la imagen para pantallas más pequeñas */
    height: 80px;
  }
}

.alternate-button {
  background-color: transparent;
  border: none;
  color: #00358B; /* Color del enlace */
  font-size: 16px;
  text-decoration: underline;
  margin-top: 10px; /* Espacio entre los botones */
  cursor: pointer;
  
}

.alternate-button:hover {
  color: #00358B; /* Color del enlace al pasar el cursor */
}

.alternate-button:focus {
  outline: none;
}
