.containerCars {
    position: absolute;
    top: 80px;
    /* Ajusta la altura del header */
    bottom: 0;
    left: 60px;
    /* Ancho del menú cerrado */
    right: 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* Divide la pantalla en partes de 1/3 y 2/3 */
    grid-gap: 0px;
    /* Espacio entre las secciones */
}

.left-section {
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.right-section {
    background-color: #d0d0d0;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.result-car {
    max-width: 98%;
    height: 70px;
    background: #FFF;
    border: 1px solid #D4D4D4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1px;
    border-radius: 5px;
    /* Espacio entre las secciones */
}

.first-result-car {
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 200px;
    margin-left: 14px;
}

.first-result-car label {
    font-size: 20px;
}

.second-result-car label {
    font-size: 20px;
}

.second-result-car {
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 200px;
    margin-left: 25px;
}

.third-result-car {
    margin-top: 13px;
    margin-inline-start: auto;
    margin-right: -18px;
}

.button-eye-car {
    width: 100px;
    height: 40px;
    border: none;
    margin-top: 3px;
    background: none;
}

.icon-eye-car {
    width: 30px;
    height: 30px;
    opacity: 50%;
}

.button-maintenance {
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    background-color: #316EA8;
    border-radius: 7px;
}

.button-maintenance-text {
    color: white;
    font-weight: bold;
    padding-inline-start: 15px;
}

.button-maintenance-filter {
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    background: none;
}

.button-sort {
    width: 100px;
    border: none;
    margin-top: 3px;
    background: none;
}

.button-maintenance-text-filter {
    color: black;
    font-weight: bold;
}

.label-maintenance {
    max-width: 250px;
    height: 40px;
    border: 1px solid rgb(0 0 0 / 31%);
    background: #FFF;
    flex-grow: 1;
    border-radius: 8px;
}

.icon-alert-white {
    width: 25px;
    height: 20px;
    margin-right: 10px;
}

.icon-calendar {
    width: 20px;
    height: 20px;
}

.icon-sort {
    width: 50px;
    height: 50px;
}

.containerTitle-car-maintenance {
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
}

.container-maintenance-filter {
    display: flex;
    justify-content: space-between;
    margin-left: 4px;
    margin-top: 16px;
}

.container-maintenance-filter h4 {
    flex: 1;
    text-align: left;
}

.container-checkbox {
    display: flex;
    margin-left: 106px;
    align-items: center;
    margin-bottom: 10px;
}

.label-checkbox {
    width: 160px;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.50);
    background: #FFF;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.input-checkbox {
    width: 40px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.50);
    border-radius: 8px;
    margin-right: 10px;
    margin-left: 200px;
    margin-top: 2px;
}

@media screen and (max-width: 768px) {
    .containerCar {
        position: absolute;
        display: block;
        left: 0;
    }

    .left-section,
    .right-section {
        width: 100%;
    }
}

@media screen and (max-width: 320px) {
    .containerCars {
        position: static;
        display: block;
        margin-top: 160px;
        /* Ajusta la altura del header y el menú */
        margin-left: 0;
    }

    .left-section,
    .right-section {
        width: 100%;
    }
}
