.button-eye-car-work-order {
    border: none;
    background: none;
}

.icon-eye-car-work-order {
    width: 30px;
    height: 30px;
    opacity: 50%;
}

.button-maintenance {
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    background-color: var(--tertiary-color);
    border-radius: 7px;
}

.button-maintenance-text {
    color: var(--white);
    font-weight: bold;
    padding-inline-start: 15px;
}

.button-maintenance-filter {
    width: 100px;
    display: flex;
    justify-content: right;
    align-items: center;
    border: none;
    background: none;
    margin-right: 22px;
}

.button-sort {
    width: 100px;
    border: none;
    margin-top: 3px;
    background: none;
}

.button-maintenance-text-filter {
    color: var(--pure-black);
    font-weight: bold;
}

.label-maintenance {
    max-width: 250px;
    height: 40px;
    border: 1px solid var(--black-alpha-31);
    background: var(--white);
    flex-grow: 1;
    border-radius: 8px;
}

.icon-alert-white {
    width: 25px;
    height: 20px;
    margin-right: 10px;
}

.icon-calendar {
    width: 20px;
    height: 20px;
}

.icon-sort {
    width: 50px;
    height: 50px;
}

.container-maintenance-filter {
    display: flex;
    align-items: center;
    margin-left: 25px;
    /* Asegúrate de que tus botones no se empujen fuera de la pantalla */
    padding-right: 25px;
    /* Añade el padding si es necesario */
}

.container-maintenance-filter h2 {
    flex: 1;
    flex-shrink: 0;
    /* Impide que el H2 se encoge */
    text-align: left;
    margin-right: auto;
    /* Empuja los elementos a la derecha */
    font-size: clamp(16px, 2vw, 24px);
    /* Ajusta los valores a lo que necesites */
}

.container-checkbox {
    display: flex;
    margin-left: 106px;
    align-items: center;
    margin-bottom: 10px;
}

.label-checkbox {
    width: 160px;
    height: 50px;
    border: 1px solid var(--black-transparent);
    background: var(--white);
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.input-checkbox {
    width: 40px;
    height: 40px;
    border: 1px solid var(--black-transparent);
    border-radius: 8px;
    margin-right: 10px;
    margin-left: 200px;
    margin-top: 2px;
}

.button-suspend-vehicle-icon {
    width: 50px;
    height: 50px;
    margin-right: -26px;
    margin-top: -13px;

}

.search-client-box {
    display: flex;
    align-items: center;
    max-width: 97%;
    height: 25px;
    margin-bottom: 25px;
    padding: 5px;
    border-radius: 6px;
    border: 2px solid var(--gray-soft-134);
    background: var(--gray-soft-128);
}

.input-search-client {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
}

.search-client-icon {
    width: 25px;
    height: 25px;
}

.car-history-section .container-table {
    background-color: var(--white);
}

.car-history-section .container-table .products-table td {
    padding: 4px;
}


.modal-content {
    width: 80%;
    max-width: 500px;
    background: var(--white);
    padding: 20px;
    border-radius: 5px;
}

.tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.button-tab {
    cursor: pointer;
    padding: 10px;
    background: none;
    border: none;
    font-weight: bold;
    color: var(--light-gray-blue);
    position: relative;
}

.button-tab.active {
    color: var(--tertiary-color);
}

.line {
    content: '';
    position: absolute;
    bottom: 0;
    left: 57%;
    transform: translateX(-50%);
    width: 200%;
    height: 1px;
    background-color: var(--light-gray-blue);
}

.button-tab.active .line {
    background-color: var(--tertiary-color);
    height: 2px;
}

.button-close {
    background: none;
    border: none;
    display: flex;
    margin-left: auto;
}

.close-icon {
    width: 25px;
    height: 25px;
}

.client-table tbody tr:nth-child(odd) {
    background-color: var(--gray-ultra-light);
}

.client-table td {
    text-align: left;
}

.client-table thead th {
    text-align: left;
}

.container-button-edit-vehicle {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    margin-right: 20px;
    position: fixed;
    /* Fija el contenedor al viewport */
    bottom: 0;
    /* Coloca el contenedor en la parte inferior */
    left: 0;
    /* Alineación izquierda */
    right: 0;
    /* Alineación derecha */
    padding: 10px;
    /* Espacio alrededor del contenedor, opcional */
}

.button-edit-data-vehicle {
    width: 167px;
    height: 40px;
    background-color: var(--second-color);
    color: var(--white);
    font-weight: bold;
    border: none;
    border-radius: 6px;
    font-size: 17px;
}

.label-plate-vehicle {
    font-size: 20px;
    font-weight: 700;
    color: var(--pure-black);
    pointer-events: none;
}

.label-history-work-order {
    margin-right: 52%;
    max-width: 100%;
}

@media screen and (min-width: 800px) and (max-width: 1340px) and (orientation: landscape) {
    .input-plate-vehicle {
        max-width: 33%;
    }

    .label-plate-vehicle {
        margin-left: 14%;
    }



}

@media (max-width: 1440px) and (max-height: 900px) {

    .label-plate-vehicle {
        margin-left: 7%;
    }

    .input-plate-vehicle {
        max-width: 34%;
        font-size: 16px;
    }
}

