.button-delete {
    width: 100px;
    height: 40px;
    border: none;
    margin-top: 3px;
    background: none;
}

.car-number {
    color: var(--black-alpha-41);
    font-size: 17px;
    font-style: normal;
    line-height: normal;
    font-weight: bold;
}


.vehicle-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 480px);
    overflow-y: auto;
}

.vehicle-info-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border: 1px solid var(--gray-medium-light);
    border-radius: 7px;
    background: white;
    margin: 1rem 1.3rem;
    box-shadow: 0 4px 8px var(--black-alpha-20);
}

.vehicle-info-header-left {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.icon-info-client {
    width: 45px;
    height: 45px;
    fill: currentColor;
    color: var(--gray-medium);
}

.client-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.3;
}

.client-info-name {
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--black);
}

.client-info-id {
    font-size: 0.95rem;
    font-weight: 500;
    color: var(--blue-intense);
}

.vehicle-info-header-right {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.vehicle-label {
    font-size: 1rem;
    color: var(--gray-dark);
}

.vehicle-info-count {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-color);
}

.vehicle {
    width: clamp(120px, 20vw, 200px);
    display: flex;
    flex-direction: column;
    padding: 15px;
    box-shadow: 0 4px 8px var(--black-alpha-20);
    border-radius: 12px;
    background-color: var(--white);
    overflow: hidden;
    transition: transform 0.3s ease;
    cursor: pointer;
    margin-right: 1.8rem;
}

.vehicle:hover {
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.12);
}

.vehicle-content {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 8px;
}

/* Simula el input con borde */
.plate-display-client {
    width: 155px;
    border: 2px solid var(--pure-black);
    border-radius: 8px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4px 8px;
    box-sizing: border-box;
}

/* Bandera y "Ecuador" arriba */
.plate-client-ecuador-row {
    display: flex;
    align-items: center;
    gap: 6px;
    justify-content: center;
}

.ecuador-flag-client {
    width: 18px;
    height: 18px;
}

.ecuador-label-client {
    font-size: 0.70rem;
    font-weight: 600;
    color: var(--pure-black);
}

/* Placa centrada */
.plate-value-client {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    font-weight: bold;
    color: #222;
}

.vehicle-category {
    font-weight: 500;
    font-size: 1rem;
    color: var(--gray-dark);
}

.vehicles-icon {
    position: relative;
    width: 90px;
    height: 90px;
    fill: currentColor;
    color: var(--blue-intense);
}

.icon-wrapper {
    position: relative;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.icon-wrapper::after {
    content: "";
    position: absolute;
    bottom: 20px;
    width: 100%;
    height: 1px;
    background: var(--pure-black);
    filter: blur(1px);
    border-radius: 10%;
    z-index: -1;
    pointer-events: none;
    transition: none;
}

.vehicle.car {
    border-left: 6px solid var(--aqua-mint);
}

.vehicle.van {
    border-left: 6px solid var(--deep-violet);
}

.vehicle.bus {
    border-left: 6px solid var(--bright-yellow);
}

.vehicle.truck {
    border-left: 6px solid var(--bright-orange);
}

.vehicle.suv {
    border-left: 6px solid var(--forest-green);
}

.vehicle.car:hover {
    background-color: var(--aqua-mint-10);
}

.vehicle.van:hover {
    background-color: var(--deep-violet-10);
}

.vehicle.bus:hover {
    background-color: var(--bright-yellow-10);
}

.vehicle.truck:hover {
    background-color: var(--bright-orange-10);
}

.vehicle.suv:hover {
    background-color: var(--forest-green-10);
}

.no-vehicles-message {
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--dark-gray);
    opacity: 0.8;
    font-size: 1.2rem;
    text-align: center;
}

.no-vehicles-icon {
    width: 64px;
    height: 64px;
    margin-bottom: 12px;
    fill: currentColor;
    color: var(--blue-intense);
}
