.containerClients {
    position: absolute;
    top: 80px;
    bottom: 0;
    left: 60px;
    right: 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 0px;
    height: calc(100vh - 80px); /* Altura del viewport menos 80px de la parte superior */
    overflow: hidden;
}

.left-section {
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    overflow-y: auto; 
    height: 100%; /* Hace que ocupe todo el espacio disponible en .containerClients */
}

.right-section {
    background-color: #d0d0d0;
    padding: 20px;
    overflow-y: auto;
    height: 100%; /* Hace que ocupe todo el espacio disponible en .containerClients */
    box-sizing: border-box;
}

.button-delete {
    width: 100px;
    height: 40px;
    border: none;
    margin-top: 3px;
    background: none;
}

.button-suspend-client-icon {
    width: 50px;
    height: 50px;
    margin-right: -26px;
    margin-top: -13px;

}

.container-list-client {
    flex: 1; /* Esto hará que ocupe todo el espacio no utilizado en .left-section */
    overflow-y: auto;
    max-height: 82%; /* Esto asegura que no exceda el espacio de su contenedor padre */
    overflow-x: hidden;
}

.result-client {
    max-width: 98%;
    height: 70px;
    background: #FFF;
    border: 1px solid #D4D4D4;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1px;
    border-radius: 5px;
    /* Espacio entre las secciones */
    margin-bottom: 10px;
} 

.first-result {
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 200px;
    margin-left: 14px;
}

.second-result {
    margin-top: 13px;
    margin-inline-start: auto;
    margin-right: -18px;
}

.container-data {
    display: flex;
    flex-direction: column;
}

.name-client {
    display: flex;
    width: 177px;
    height: 24px;
    flex-direction: column;
    justify-content: center;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.car-number {
    color: rgba(0, 0, 0, 0.41);
    font-size: 17px;
    font-style: normal;
    line-height: normal;
    font-weight: bold;
}

.container-car-number {
    display: grid;
    grid-template-columns: 1fr 15fr;
    grid-gap: 2px;
    margin-top: 1px;
    width: 15%;
} 

.vehicle-count-container {
    display: flex;
    align-items: center; /* Si deseas que los ítems estén centrados verticalmente */
    gap: 16px; /* Espaciado entre ítems, puedes ajustar este valor a tu preferencia */
}

.icon-client {
    width: 40px;
    height: 40px;
}

.icon-eye {
    width: 30px;
    height: 30px;
    opacity: 50%;
}

.icon-car {
    width: 25px;
    height: 25px;
}

.icon-van {
    width: 25px;
    height: 25px;
}

.icon-bus {
    width: 25px;
    height: 23px;
}

.van-container {
    margin-bottom: -4px;
}

.button-eye {
    width: 100px;
    height: 40px;
    border: none;
    margin-top: 3px;
    background: none;
}

.vehicle-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* Agregado: Centra verticalmente los elementos */
    height: 72vh;
    overflow-y: auto;
}

.vehicle {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.50);
    width: 200px;
    height: 200px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.vehicle-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 13px;
}

.auto-icon {
    width: 100px;
    height: 100px;
    margin-bottom: -8px;
    margin-top: 24px;
}

.buseta-icon {
    width: 100px;
    height: 100px;
    margin-top: 25px;
}

.camioneta-icon {
    width: 100px;
    height: 100px;
    margin-top: 19px
}

.camion-icon {
    width: 100px;
    height: 100px;
    margin-top: 20px;
}

.vehicle-plate {
    margin-top: 5px;
}

.container-data-client-form {
    margin-bottom: 20px;
    margin-left: 23px;
} 

.container-button-edit-product {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    margin-right: 20px;
    position: fixed; /* Fija el contenedor al viewport */
    bottom: 0; /* Coloca el contenedor en la parte inferior */
    left: 0; /* Alineación izquierda */
    right: 0; /* Alineación derecha */
    padding: 10px; /* Espacio alrededor del contenedor, opcional */
}

.button-edit-data-client {
    width: 167px;
    height: 40px;
    background-color: #1c4a74;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    font-size: 17px;
}

.no-vehicles{
    font-size: 13px;
}

@media screen and (max-width: 768px) {
    .containerClients {
        position: absolute;
        display: block;
        left: 0;
    }

    .left-section,
    .right-section {
        width: 100%;
    }

    .vehicle-icon {
        width: 30px;
        height: 30px;
    }
}

@media screen and (max-width: 320px) {
    .containerClients {
        position: static;
        display: block;
        margin-top: 160px;
        /* Ajusta la altura del header y el menú */
        margin-left: 0;
    }

    .left-section,
    .right-section {
        width: 100%;
    }

}
