:root {
    --primary-color: #0C1F31;
    --primary-color-rgb: 12, 31, 49;
    --second-color: #1C4A74;
    --tertiary-color: #316EA8;
    --tertiary-color-60 :rgba(49, 110, 168, 0.6);
    --gray-darkest: #333;
    --gray-obsidian: #3E3E3E;
    --gray-soft-128: rgba(128, 128, 128, 0.26);
    --gray-soft-134: rgba(134, 134, 134, 0.31);
    --gray-dark: #6E757D;
    --gray-neutral: #808080;
    --gray-medium-dark: #999;
    --gray-shadow: #a9a9a9;
    --gray-muted: #aaa;
    --smoke-silver: #b9b9b9;
    --gray-medium: #D0D0D0;
    --gray-medium-light: #D4D4D4;
    --gray-light: #E7ECEF;
    --gray-light-medium: #ddd;
    --gray-light-muted: #e0e0e0;
    --gray-extra-light: #F8F8F8;
    --gray-ultra-light: #f2f2f2;
    --gray-very-light: #f5f5f5;
    --gray-neutral-light: #f0f0f0;
    --gray-soft-light: #f4f4f4;
    --gray-muted-light: #f1f1f1;
    --gray-cloud: #E1E1E4;
    --gray-linen: #e6e6e6;
    --light-gray-blue: #D8D9DA;
    --light-silver-gray: #ccc;
    --gray-frosted: #e6e8e6;
    --white: white;
    --white-cloud: #FDFDFD;
    --platium: #EDEDED;
    --white-overlay-soft: rgba(255, 255, 255, 0.7);
    --neutral-light: #F6F6F6;
    --green-dark: #2e7d32;
    --forest-green: #347928;
    --forest-green-10: rgba(52, 121, 40, 0.1);
    --green-light: rgba(73, 160, 92);
    --green-muted: #49A05C;
    --electric-lime: #B6F500;
    --lime-green: #A4DD00;
    --aqua-mint: #6DE1D2;
    --aqua-mint-10: rgba(109, 225, 210, 0.1);
    --bright-yellow: #FFCC00;
    --bright-yellow-10: rgba(255, 204, 0, 0.1);
    --yellow-warm: #fbc02d;
    --yellow-soft: #FFD966;
    --yellow-neon: #ffea00;
    --orange-warm-light: #FFB75A;
    --red-intense: #e74c3c;
    --light-coral: #DE7C7D;
    --bright-orange: #FA7D09;
    --bright-orange-10: rgba(250, 125, 9, 0.3);
    --gradient-blue-dark: linear-gradient(to bottom, #1C4A74 -10%, #316EA8 11%, #0C1F31 100%);
    --deep-blue: #245681;
    --blue-deep-dark: #00358B;
    --blue-desatured-dark: #255177;
    --blue-dark-bright: #0056b3;
    --blue-ocean: #134686;
    --blue-medium: rgb(49, 110, 168);
    --blue-primary-bright: #007bff;
    --blue-intense: #007aff;
    --blue-medium-soft: #5a98cb;
    --blue-very-soft: #84b8e2;
    --blue-cloud: #d1e2f1;
    --deep-violet: #4635B1;
    --deep-violet-10: rgba(70, 53, 177, 0.1);
    --pure-black: black;
    --black-transparent: rgba(0, 0, 0, 0.50);
    --light-transparent-black: rgba(0, 0, 0, 0.1);
    --gradient-dark-trasparent: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
    --black-alpha-20: rgba(0, 0, 0, 0.20);
    --black-alpha-31: rgba(0 0 0 / 31%);
    --black-alpha-34: rgba(0 0 0 / 34%);
    --black-alpha-41: rgba(0, 0, 0, 0.41);
    --black-alpha-80: rgba(0, 0, 0, 0.8);
}