.container-custom-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 1rem;
}

.left-section {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex: 1;
}

.center-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    white-space: nowrap;
}

.right-actions {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex: 1;
    justify-content: flex-end;
}

.title-prefix {
    font-weight: 300;
    color: var(--tertiary-color);
    font-size: 1.3rem;
}

.title {
    font-size: 1.5rem;
    font-weight: 600;
}

.button-arrow {
    background: none;
    border: none;
    margin-right: 4px;
    margin-top: 5px
}

.arrow-icon {
    width: 35px;
    height: 35px;
}

.custom-button-save {
    padding: 0.5rem 1rem;
    background-color: var(--second-color);
    color: var(--white);
    font-weight: bold;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    min-width: 140px;
    max-width: 100%;
    height: 40px;
    white-space: nowrap;
    overflow: hidden;
}

.custom-button-unavailable {
    width: 85px;
    height: 40px;
    border: none;
    background: none;
    margin-top: -16px;
}

.custom-button-unavailable-icon {
    width: 50px;
    height: 50px;
    margin-right: -10px;
}

.custom-button-edit {
    width: 60px;
    height: 40px;
    border: none;
    background: none;
    margin-top: -12px;
}

.custom-button-edit-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.custom-button-add {
    width: 100px;
    height: 40px;
    border: none;
    margin-top: 3px;
    background: none;
}

.custom-button-add-icon {
    width: 35px;
    height: 35px;
    margin-right: 8px;
    margin-top: -7px;
}

.button-maintenance-filter {
    width: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: none;
    background: none;
    margin-right: 0.5rem;
}

.button-maintenance-text-filter {
    color: var(--pure-black);
    font-weight: bold;
}
