
.products-table {
    font-size: 12px; 
    width: 100%;
    border-collapse: collapse;
}

.products-table tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.products-table td {
    text-align: center;
    padding: 3px;
    border-top: 1px solid black;
}

.products-table th {
    text-align: left;
    padding: 10px;
    background-color: white;
}

.products-table thead th {
    text-align: center;
}

.container-table-buttons {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.container-table {
    background-color: white;
    width: 94%;
    margin: auto;
    padding-top: 10px;
}

.custom-font-size {
    font-size: 17px; 
}

.add-operation-icon {
    width: 20px;
    height: 20px;
}

.less-operation-icon {
    width: 20px;
    height: 20px;
}

.empty-table {
    margin-top: 13px;
}