.products-table {
    font-size: 16px;
    width: 100%;
    border-collapse: collapse;
}

.products-table tbody tr:nth-child(odd) {
    border-top: 1px solid var(--gray-medium);
    border-bottom: 1px solid var(--gray-medium);
}

.products-table td {
    text-align: center;
    padding: 3px;
    border-top: 1px solid var(--gray-medium);
    color: var(--gray-dark);
}

.products-table th {
    text-align: left;
    padding: 10px;
    background-color: var(--gray-very-light);
    color: var(--gray-dark);
}

.products-table thead th {
    text-align: center; 
}

.container-table-buttons {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.container-table {
    background-color: var(--white);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px var(--black-alpha-20);
}

.custom-font-size {
    font-size: 17px;
}

.add-operation-icon {
    width: 20px;
    height: 20px;
}

.less-operation-icon {
    width: 20px;
    height: 20px;
}

.empty-table {
    margin-top: 13px;
}