.container-table-pagination {
    margin: 1px;
    margin-top: 13px;
    overflow-x: auto; /* Permite desplazamiento horizontal si es necesario */
    max-width: 100%;
    font-size: 12px;
}

.data-table {
    width: 100%;
    border-collapse: collapse; /* Elimina el espacio entre las celdas */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra para un efecto de profundidad */
}

.data-table th,
.data-table td {
    border: 1px solid #e6e6e6 ; /* Borde de las celdas */
    padding: 10px; /* Espaciado interno */
    text-align: center; /* Alineación del texto */
}

.data-table th:nth-child(1),
.data-table td:nth-child(1) {
    min-width: 77px;
    font-weight: 700;
}


.data-table th:nth-child(5),
.data-table td:nth-child(5) {
    width: 25%;
    min-width: 88px
}

.data-table th:nth-child(13),
.data-table td:nth-child(13) {
    width: 50%;
    min-width: 152px
}



.data-table th {
    background-color: #f4f4f4; /* Color de fondo de los encabezados */
    cursor: pointer; /* Indica que se puede hacer clic */
}

.table-row:hover {
    background-color: #f1f1f1; /* Efecto hover para las filas */
}

.container-table-pagination-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Espacio entre los botones y el selector de tamaño */
    margin-top: 10px;
}

.container-table-pagination-buttons button {
    padding: 8px 12px; /* Estilo de los botones */
    border: none; /* Sin borde */
    background-color: #007bff; /* Color de fondo del botón */
    color: white; /* Color del texto */
    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer; /* Indica que se puede hacer clic */
    transition: background-color 0.3s; /* Transición suave para el efecto hover */
}

.container-table-pagination-buttons button:disabled {
    background-color: #ccc; /* Color para el botón deshabilitado */
    cursor: not-allowed; /* Indica que no se puede hacer clic */
}

.container-table-pagination-buttons button:hover:not(:disabled) {
    background-color: #0056b3; /* Color de fondo al pasar el mouse */
}

.page-size-selector {
    display: flex;
    align-items: center; /* Centra verticalmente el texto y el desplegable */
}

.page-size-selector label {
    margin-right: 5px; /* Espacio entre la etiqueta y el desplegable */
}

.page-size-selector select {
    padding: 5px; /* Espaciado interno del desplegable */
    border-radius: 4px; /* Bordes redondeados */
    border: 1px solid #ddd; /* Borde del desplegable */
    background-color: #fff; /* Color de fondo del desplegable */
}

.container-table-pagination-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.container-table-pagination-buttons button {
    padding: 8px 12px;
    margin: 0 5px;
    border: 1px solid #ddd;
    background-color: #fff;
    color: #333;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.container-table-pagination-buttons button:disabled {
    background-color: #f0f0f0;
    cursor: not-allowed;
}

.container-table-pagination-buttons button:hover:not(:disabled) {
    background-color: #e0e0e0;
}

.page-numbers {
    display: flex;
    align-items: center;
}

.page-numbers button {
    padding: 8px 12px;
    margin: 0 2px;
    border: 1px solid #ddd;
    background-color: #fff;
    color: #333;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.page-numbers button.active {
    background-color: #007bff;
    color: white;
}

.page-numbers button:hover:not(.active) {
    background-color: #e0e0e0;
}