.form-container {
    width: 100%;
    max-width: 400px;
    /* ajusta según tus necesidades */
    margin: 0 auto;
    /* centra el formulario horizontalmente */
    padding: 20px;
    box-sizing: border-box;
}

.form-input {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    box-sizing: border-box;
    /* esto hace que el padding no agregue ancho adicional al input */
    border: 1px solid #E1E1E4;
    border-radius: 13px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 20px;
}

.button-form {
    width: 100%;
    padding: 12px 24px;
    box-sizing: border-box;
    /* esto hace que el padding no agregue ancho adicional al button */
    background: #1C4A74;
    border-radius: 13px;
    color: white;
    font-style: normal;
    font-size: 24px;
    margin-top: 20px;
}

@media (max-width: 414px) {  
    .input-field {
      width: 100%;  
      padding: 6px;  
    }
  
    .button {
      padding: 6px 12px;  
    }
  }