.main-header {
    background: var(--primary-color);
    padding: 10px 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 0;
    height: 60px;
    border-radius: 10px;
}

/* Variante por defecto (pantallas pequeñas o diseño compacto) */
.header-default {
    flex-direction: column;
    justify-content: space-between;
}

/* Variante para pantallas grandes */
.header-large {
    flex-direction: row;
    justify-content: space-around;
}

/* Sección izquierda */
.header-left {
    display: flex;
    align-items: center;
    flex: 1;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 22px;
}

.icon-cartics {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.icon-image {
    max-width: 160px;
    height: auto;
    object-fit: contain;
}

/* Sección derecha */

.header-right {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: auto;
    flex-wrap: wrap;
}

.cartics-logo {
    width: 100px;
    height: auto;
}

.profile-text {
    display: flex;
    flex-direction: column;
}

.profile-name {
    font-size: 15px;
    font-weight: bold;
    color: var(--white);
}

.profile-role {
    font-size: 15px;
    color: var(--white);
    font-style: normal;
    font-weight: 200;
    padding-top: 3px;
}

.profile-info {
    display: flex;
    align-items: center;
}

.profile-image {
    width: 50px;
    /* Ajusta el tamaño de la foto de perfil según tus necesidades */
    height: 50px;
    border-radius: 50%;
    /* Da forma circular a la foto de perfil */
    object-fit: cover;
    margin-right: 10px;
}

.logout-button {
    background: transparent;
    border: none;
}

.logout-icon {
    width: 35px;
    height: 35px;
}

/* Estilos responsive */

@media screen and (min-width: 800px) and (max-width: 1340px) and (orientation: landscape) {
    .header-right {
        margin-right: 10px;
    }
}

@media screen and (min-width: 768px) {
    .icon-image {
        max-height: 100px;
    }
}

@media screen and (max-width: 600px) {

    .main-header {
        align-items: flex-end;
    }

    .header-left,
    .header-right {
        flex-basis: 100%;
        max-width: 100%;
    }

    .header-left {
        align-self: flex-start;
    }

    .header-right {
        max-width: 100%;
        /* Cambia el ancho máximo a ocupar el 100% del espacio disponible */
        overflow: hidden;
        /* Oculta el contenido que se desborda */
    }
}