.div-information-vehicle {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 25px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.comments-section {
    display: block;
    min-height: 6%;
    align-items: stretch;
}

.comments-section textarea {
    width: 100%;
    box-sizing: border-box;
    height: 100px;
    border-radius: 13px;
    border: 1px solid rgba(0, 0, 0, 0.50);
    padding-left: 6px;
    padding-top: 5px;
}

.div-products {
    display: block;
    align-items: stretch;
}

.container-div-products {
    border-radius: 13px;
    min-height: 350px;
    border: 1px solid rgba(0, 0, 0, 0.50);
    position: relative;
}

.div-services {
    display: block;
    align-items: stretch;
}

.container-div-services {
    border-radius: 13px;
    min-height: 350px;
    border: 1px solid rgba(0, 0, 0, 0.50);
    position: relative;
    margin-bottom: 20px;
}

.icon-container {
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.div-section-information {
    margin-top: 10px;
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-syptoms {
    margin-top: 20px;
    margin-left: 10px;
}

.input-full-level {
    margin-left: 89px;
    width: 30px;
    margin-right: 10px;
}

.div-information-vehicle-fields {
    display: flex;
}

.vehicle-fields {
    display: flex;
    width: 100%;
    gap: 35px;
}

.work-order-detail-fields {
    display: flex;
    width: 100%;
    gap: 35px;
}

.vehicle-km-fields {
    display: flex;
    width: 100%;
    gap: 35px;
    margin-top: 20px;
    margin-left: 20px;
}

.vehicle-total-fields {
    display: flex;
    width: 100%;
    gap: 35px;
    margin-top: 42px;
    margin-left: 20px;
}

.label-vehicle {
    font-size: 16px;
    font-weight: 600;
}

.label-vehicle-created {
    font-size: 16px;
    font-weight: 600;
    margin-left: 47px;
}

.label-vehicle-delivery {
    font-size: 16px;
    font-weight: 600;
    margin-left: 47px;
}

.label-vehicle-km {
    font-size: 16px;
    font-weight: 600;
}

.label-work-order {
    font-size: 16px;
    font-weight: 600;
    width: 151px;
}

.container-right-div-information-vehicle {
    border-radius: 13px;
    border: 1px solid rgba(0, 0, 0, 0.50);
}

.container-right-div-information-vehicle-detail {
    width: 60%;
    border-radius: 13px;
    border: 1px solid rgba(0, 0, 0, 0.50);
}

.container-right-div-information-vehicle-km {
    width: 40%;
    border-radius: 13px;
    border: 1px solid rgba(0, 0, 0, 0.50);
}



.container-right-div-information-vehicle:first-child {
    min-height: 47%;
    /* puedes ajustar este valor según necesites */
}

.container-right-div-information-vehicle:last-child {
    height: 100%;
}

.clock-icon {
    width: 33px;
    height: 33px;
    margin-right: 10px;
}

.div-container-select {
    max-width: 7%;
    margin-right: 145px;
}

.div-container-hidden {
    margin-right: 102px;
  }

.div-table-products {
    margin-top: 50px;
}

.custom-button-edit-work-order {
    border: none;
    background: none;
}

.custom-button-edit-work-order-icon {
    width: 25px;
    height: 25px;
    margin-left: 20px;
}

.btn-select-all {
    background: none;
    border: none;
    color: #007aff;
    font-weight: 600;
}

.btn-select-all:disabled {
    color: #6E757D;
}

.total-value-container {
    text-align: left;
    margin-top: -21px;
    margin-left: auto;
    margin-right: 37px;
}

.vehicle-km-container {
    text-align: left;
    margin-top: -10px;
    margin-left: auto;
    margin-right: 37px;
    font-size: 31px;
}

.total-value {
    font-size: 41px;
    margin-top: -20px;
    font-weight: 600;
    color: #1C4A74;
}

.container-data-client-information {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
}

.label-start-date {
    margin-left: -54px;
}

.container-created {
    margin-left: 38px;
    display: flex;
    width: 100%;
    gap: 35px;

}

.label-created {
    margin-left: 20px;
}

.label-asigned {
    font-size: 16px;
    font-weight: 600;
    margin-left: 27px;
}

.label-billed {
    font-size: 16px;
    font-weight: 600;
    margin-left: 30px;
}

.label-total {
    font-size: 16px;
    font-weight: 600;
}

.delivery-for {
    margin-left: 36px;
}

.total-products {
    color: #1C4A74;
    font-weight: bold;
    font-size: 15px;
}

.input-plate-vehicle-work-order-detail {
    max-width: 50%;
    height: 15px;
    border: 3px solid #000;
    background: #fff;
    border-radius: 10px;
    padding: 8px;
    margin-bottom: 10px;
    margin-top: 11px;
    margin-left: 5%;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    box-shadow: 0 0 0 3px #fff, 0 0 0 3px #fff;
}

.input-new-km {
    width: 70%;
    text-align: right;
    margin-left: 69px;
}

@media screen and (min-width: 800px) and (max-width: 1340px) and (orientation: landscape) {
    .container-data-client-information {
        margin-left: 20px;
        margin-right: 10px;
    }

    .vehicle-fields {
        gap: 25px;
    }

    .label-vehicle {
        margin-left: 20px;
    }

    .label-work-order {
        margin-left: 24px;
        width: 140px;
    }

    .div-information-vehicle-fields {
        margin-left: -20px;
        margin-right: 10px;
    }

    .label-start-date {
        margin-left: -30px;
    }

    .container-created {
        margin-left: -38px;
    }

    .label-created {
        margin-left: -20px;
    }

    .label-asigned {
        margin-left: -10px;
        margin-right: 0px;
    }

    .label-total {
        margin-left: 10px;
    }

    .total-value {
        margin-right: 10px;
        margin-left: -10px;
    }

    .input-full-level {
        margin-left: 59px;
    }

    .div-container-select {
        margin-right: 170px;
    }

    .label-billed {
        margin-left: -10px;
    }

    .label-vehicle-created {
        margin-left: 17px;
    }

    .label-vehicle-delivery {
        margin-left: 17px;
    }


}

@media (max-width: 1440px) and (max-height: 900px) {

    .container-created {
        margin-left: 83px;

    }

    .delivery-for {
        margin-left: -178px;
    }

}