.div-information-vehicle {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 25px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.comments-section {
    display: block;
    min-height: 6%;
    align-items: stretch;
}

.comments-section textarea {
    width: 100%;
    box-sizing: border-box;
    height: 100px;
    border-radius: 13px;
    border: 1px solid rgba(0, 0, 0, 0.50);
    padding-left: 6px;
    padding-top: 5px;
}

.div-products {
    display: block;
    align-items: stretch;
}

.container-div-products {
    border-radius: 13px;
    min-height: 350px;
    border: 1px solid rgba(0, 0, 0, 0.50);
    position: relative;
}

.div-services {
    display: block;
    align-items: stretch;
}

.container-div-services {
    border-radius: 13px;
    min-height: 350px;
    border: 1px solid rgba(0, 0, 0, 0.50);
    position: relative;
    margin-bottom: 20px;
}

.icon-container {
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.div-section-information {
    margin-top: 10px;
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-syptoms {
    margin-top: 20px;
    margin-left: 10px;
}

.input-full-level {
    margin-left: 89px;
    width: 30px;
    margin-right: 10px;
}

.div-information-vehicle-fields {
    display: flex;
}

.vehicle-fields {
    display: flex;
    width: 100%;
    gap: 35px;
}

.work-order-detail-fields {
    display: flex;
    width: 100%;
    gap: 35px;
}

.vehicle-km-fields {
    display: flex;
    width: 100%;
    gap: 35px;
    margin-top: 20px;
    margin-left: 20px;
}

.vehicle-total-fields {
    display: flex;
    width: 100%;
    gap: 35px;
    margin-top: 42px;
    margin-left: 20px;
}

.label-vehicle {
    font-size: 16px;
    font-weight: 600;
}

.label-vehicle-created {
    font-size: 16px;
    font-weight: 600;
    margin-left: 47px;
}

.label-vehicle-delivery {
    font-size: 16px;
    font-weight: 600;
    margin-left: 47px;
}

.label-vehicle-km,
.label-total {
    font-size: 14px;
    color: #666;
    text-transform: uppercase;
    font-weight: bold;
}

.label-work-order {
    font-size: 16px;
    font-weight: 600;
    width: 151px;
}

.container-right-div-information-vehicle {
    border-radius: 13px;
    border: 1px solid rgba(0, 0, 0, 0.50);
}

.container-right-div-information-vehicle-detail {
    width: 50%;
    border-radius: 13px;
    border: 1px solid rgba(0, 0, 0, 0.50);
}

.container-right-div-information-vehicle-km {
    width: 50%;
    border-radius: 13px;
    border: 1px solid rgba(0, 0, 0, 0.50);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    align-items: center;
    padding-bottom: 0.5rem;
}
 
.grid-cell {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 10px;
}

.label-style {
    font-size: 15px;
    color: #000000;
    font-weight: bold;
    white-space: nowrap;
    margin-bottom: 1.5rem;
    margin-left: 5px;
}

.label-iva-style {
    font-size: 15px;
    color: #000000;
    font-weight: bold;
    white-space: nowrap;
    margin-bottom: 0.3rem;
    margin-left: 5px;
}

.vehicle-km-container {
    margin-left: auto;
    margin-top: 0.3rem;
    margin-right: 0.3rem;
    align-items: baseline;
    font-size: 31px;
    color: #000000;
    font-weight: 600;
    display: flex;
}

.total-value-container {
    margin-left: auto;
    display: flex;
    align-items: baseline;
}

.total-value {
    font-size: 31px;
    color: #1C4A74;
    font-weight: 600;
    margin-top: 0.5rem;
    margin-right: 0.3rem;
}

.iva-value {
    font-size: 31px;
    color: #1C4A74;
    font-weight: 600;
    margin-top: 1rem;
    margin-right: 0.3rem;
}

.iva-checkbox {
    appearance: none; 
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid #1C4A74; 
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    background-color: #fff;
    transition: all 0.2s ease;
}

.iva-checkbox:checked {
    background-color: #1C4A74; 
}

.iva-checkbox:checked::after {
    content: '✔';
    position: absolute;
    color: white;
    font-size: 12px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.total-value-main {
    font-size: 41px;
    font-weight: 700;
    color: #1C4A74;
    margin-top: 0.3rem;
    margin-right: 0.3rem;
}

.decimal-part {
    font-size: 20px;
}

.decimal-part-large {
    font-size: 28px;
}

.highlight-total {
    background-color: #d7e6f1;
    border-radius: 8px;
    margin-right: 0.5rem
}

.highlight-km {
    background-color: #e3ffde;
    border-radius: 8px;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
}

.highlight-sub-total {
    background-color: #ecf7ff;
    border-radius: 8px;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
}

.highlight-iva {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #fffbd3;
    border-radius: 8px;
    margin-left: 0.5rem;
}

.highlight-iva label {
    line-height: 1.2;
}

.input-new-km {
    width: 100%;
    font-size: 24px;
    color: #1C4A74;
    border: 1px solid #ccc;
    padding: 4px;
}

.container-right-div-information-vehicle:first-child {
    min-height: 47%;
    /* puedes ajustar este valor según necesites */
}

.container-right-div-information-vehicle:last-child {
    height: 100%;
}

.clock-icon {
    width: 33px;
    height: 33px;
    margin-right: 10px;
}

.div-container-select {
    max-width: 7%;
    margin-right: 145px;
}

.div-container-hidden {
    margin-right: 102px;
}

.div-table-products {
    margin-top: 50px;
}

.custom-button-edit-work-order {
    border: none;
    background: none;
}

.custom-button-edit-work-order-icon {
    width: 25px;
    height: 25px;
    margin-left: 20px;
}

.btn-select-all {
    background: none;
    border: none;
    color: #007aff;
    font-weight: 600;
}

.btn-select-all:disabled {
    color: #6E757D;
}

.container-data-client-information {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
}

.label-start-date {
    margin-left: -54px;
}

.container-created {
    margin-left: 38px;
    display: flex;
    width: 100%;
    gap: 35px;

}

.label-created {
    margin-left: 20px;
}

.label-asigned {
    font-size: 16px;
    font-weight: 600;
    margin-left: 27px;
}

.label-billed {
    font-size: 16px;
    font-weight: 600;
    margin-left: 30px;
}

.label-total {
    font-size: 16px;
    font-weight: 600;
}

.delivery-for {
    margin-left: 36px;
}

.total-products {
    color: #1C4A74;
    font-weight: bold;
    font-size: 15px;
}

.input-plate-vehicle-work-order-detail {
    max-width: 50%;
    height: 15px;
    border: 3px solid #000;
    background: #fff;
    border-radius: 10px;
    padding: 8px;
    margin-bottom: 10px;
    margin-top: 11px;
    margin-left: 5%;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    box-shadow: 0 0 0 3px #fff, 0 0 0 3px #fff;
}

@media screen and (min-width: 800px) and (max-width: 1340px) and (orientation: landscape) {
    .container-data-client-information {
        margin-left: 20px;
        margin-right: 10px;
    }

    .vehicle-fields {
        gap: 25px;
    }

    .label-vehicle {
        margin-left: 20px;
    }

    .label-work-order {
        margin-left: 24px;
        width: 140px;
    }

    .div-information-vehicle-fields {
        margin-left: -20px;
        margin-right: 10px;
    }

    .label-start-date {
        margin-left: -30px;
    }

    .container-created {
        margin-left: -38px;
    }

    .label-created {
        margin-left: -20px;
    }

    .label-asigned {
        margin-left: -10px;
        margin-right: 0px;
    }

    .label-total {
        margin-left: 10px;
    }

    .total-value {
        margin-right: 10px;
        margin-left: -10px;
    }

    .input-full-level {
        margin-left: 59px;
    }

    .div-container-select {
        margin-right: 170px;
    }

    .label-billed {
        margin-left: -10px;
    }

    .label-vehicle-created {
        margin-left: 17px;
    }

    .label-vehicle-delivery {
        margin-left: 17px;
    }


}

@media (max-width: 1440px) and (max-height: 900px) {

    .container-created {
        margin-left: 83px;

    }

    .delivery-for {
        margin-left: -178px;
    }

}