.container-inventory {
    position: fixed;
    top: 80px;
    left: 80px;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--gray-light);
    overflow: hidden;
    z-index: 10;
    height: calc(100vh - 80px);
    border-radius: 10px;
}

/* Estilo para los tabs en general */
.react-tabs__tab-list {
    display: flex;
    justify-content: flex-start;
    gap: 8px;
    padding: 0px 40px;
    flex-wrap: wrap;
}

/* Estilo para cada tab no seleccionado */
.react-tabs__tab {
    list-style: none;
    cursor: pointer;
    padding: 15px 50px;
    font-size: clamp(16px, 2vw, 18px);
    font-weight: 600;
    border-radius: 6px;
    border: 1px solid var(--tertiary-color);
    background-color: var(--tertiary-color);
    color: var(--white);
    transition: all 0.3s ease;
    border-bottom: none;
    border-radius: 8px 8px 0 0;
}

/* Estilo para el tab seleccionado */
.react-tabs__tab--selected {
    background-color: var(--white-cloud);
    color: var(--gray-obsidian);
    border: 1px solid var(--gray-muted);
    border-bottom: none;
    border-radius: 8px 8px 0 0;
    position: relative;
    z-index: 2;
    margin-bottom: -1px;
     box-shadow: 0 -5px 6px rgba(0,0,0,0.1);
}

.react-tabs__tab:focus {
    border-color: var(--gray-muted);
}

.react-tabs__tab:hover {
    background-color: var(--blue-medium-soft);
    color: var(--white);
}