.menu-lateral {
  height: calc(100vh - 80px);
  width: 80px;
  position: fixed;
  z-index: 1000;
  top: 80px;
  left: 0;
  background-color: var(--primary-color);
  transition: width 0.3s ease-in-out;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.options-top-menu {
  display: flex;
  flex-direction: column;
}

.options-bottom-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

/* Estado abierto */
.menu-lateral.open {
  width: 280px;
}

/* Estado cerrado */
.menu-lateral.closed {
  width: 80px;
}

.opcion-container {
  position: relative;
  width: 100%;
  display: block;
  text-decoration: none;
  color: var(--gray-muted);
  padding: 10px 20px;
  font-weight: 600;
}

.opcion-content {
  display: flex;
  align-items: center;
}

.icono {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icono img {
  width: 28px;
  height: 28px;
}

/* Texto con animación */
.texto {
  margin-left: 12px;
  white-space: nowrap;
  overflow: hidden;
  transition: opacity 0.2s ease, margin 0.2s ease;
  opacity: 1;
  text-overflow: ellipsis;
}

/* Ocultar texto cuando está cerrado */
.menu-lateral.closed .texto {
  opacity: 0;
  margin-left: 0;
  pointer-events: none;
  text-overflow: ellipsis;
}

/* Activación */
.opcion-container.active {
  font-weight: bold;
  color: var(--tertiary-color);
  background-color: var(--gray-soft-128);
}

.opcion-container.active::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 50px;
  width: 6px;
  background-color: var(--tertiary-color);
}

.icono-menu {
  margin-top: auto;
  padding: 10px 10px 10px 10px;
}

.button-menu {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--gray-muted);
  font-size: 1.1rem;
  font-weight: 500;
  overflow: hidden;
}

.button-menu img {
  width: 30px;
  height: 30px;
}

.button-menu-text {
  max-width: 0;
  opacity: 0;
  transition: opacity 0.3s ease, max-width 0.3s ease;
  white-space: nowrap;
  overflow: hidden;
}

.button-menu-text.visible {
  max-width: 100px;
  opacity: 1;
}