.menu-lateral {
  height: calc(100vh - 80px);
  width: 80px;
  position: fixed;
  z-index: 1000;
  top: 80px;
  left: 0;
  background-color: var(--primary-color);
  transition: width 0.3s ease-in-out;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.options-top-menu {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.options-bottom-menu {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0.9rem;
  margin-bottom: 0.8rem;
}

/* Estado abierto */
.menu-lateral.open {
  width: 300px;
  background-color: rgba(var(--primary-color-rgb), 0.9);
  backdrop-filter: blur(5px);
}

/* Estado cerrado */
.menu-lateral.closed {
  width: 80px;
}

.opcion-container {
  margin-top: 1rem;
  position: relative;
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--gray-muted);
  padding: 0.2rem 1.4rem;
  font-weight: 600;
  transition: transform 0.3s ease, color 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
}

.opcion-container:hover {
  transform: scale(1.1);
  background-color: var(--gray-soft-128);
  color: var(--tertiary-color);
}

.opcion-container:hover .menu-icon {
  color: var(--tertiary-color);
}

.opcion-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  width: 100%;
}

.icono {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
}

.icono img {
  width: 28px;
  height: 28px;
}

/* Texto con animación */
.texto {
  margin-left: 12px;
  white-space: nowrap;
  overflow: hidden;
  transition: opacity 0.2s ease, margin 0.2s ease;
  opacity: 1;
  text-overflow: ellipsis;
}

/* Ocultar texto cuando está cerrado */
.menu-lateral.closed .texto {
  opacity: 0;
  margin-left: 0;
  pointer-events: none;
  text-overflow: ellipsis;
}

/* Activación */
.opcion-container.active {
  font-weight: bold;
  color: var(--tertiary-color);
  background-color: var(--gray-soft-128);
  padding-block: 0.6rem;
}

.opcion-container.active::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 50px;
  width: 6px;
  background-color: var(--tertiary-color);
}

.icono-menu {
  margin-top: auto;
  width: 100%;
}

.menu-icon {
  width: 2rem;
  height: 2rem;
  fill: currentColor;
  color: var(--gray-muted);
  transition: color 0.3s ease;
}

.menu-icon--active {
  color: var(--tertiary-color);
}

.button-menu {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-inline: 24px;
  width: 100%;
  gap: 12px;
  color: var(--gray-muted);
  font-size: 1rem;
  font-weight: 600;
  overflow: hidden;

}

.menu-toggle-icon {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.button-menu-text {
  max-width: 0;
  opacity: 0;
  transition: opacity 0.3s ease, max-width 0.3s ease;
  white-space: nowrap;
  overflow: hidden;
}

.button-menu-text.visible {
  margin-left: 0.9rem;
  max-width: 100px;
  opacity: 1;
}