.filter-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
    display: flex;
    align-items: center;
    /* Alinear verticalmente en el centro */
    justify-content: center;
    z-index: 9999;
}

.filter-modal {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    max-width: 400px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.filter-modal h3 {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
}

.filter-options label {
    display: block;
    margin-bottom: 20px;
    padding-left: 20px;
    margin-top: -19px;
}

.filter-options input[type="radio"] {
    margin-right: 10px;
    /* Ajusta el valor según el espacio deseado */
}

.button-options {
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
}

.half {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-button {
    background-color: #1C4A74;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    /* Ajusta el espacio entre el último elemento y el botón */
    align-self: center;
}

.clean-button {
    background: none;
    color: #1C4A74;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    border: none;
    margin-left: 20px;
}

.modal-button:hover {
    background-color: #245681;
}

.optionYes-button {
    background-color: #1C4A74;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    /* Ajusta el espacio entre el último elemento y el botón */
    align-self: center;
    width: 160px;
    height: 40px;
}

.optionYes-button:hover {
    background-color: #245681;
}

.optionNo-button {
    background-color: #6E757D;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    /* Ajusta el espacio entre el último elemento y el botón */
    align-self: center;
    width: 160px;
    height: 40px;
}

.optionNo-button:hover {
    background-color: #6E757D;
}

.title-modal-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-close-modal {
    background: none;
    border: none;
    display: flex;
    margin-left: auto;
    margin-top: -4px;
}

.modal-close-icon {
    width: 25px;
    height: 25px;
}

.container-fields-modal-search {
    display: contents;
}

.label-fields {
    font-weight: 700;
    color: gray;
    font-size: 15px;
}

.input-fields {
    height: 25px;
    border: 1px solid rgb(0 0 0 / 34%);
    background: #fff;
    border-radius: 4px;
    padding: 8px;
    margin-bottom: 13px;
    margin-top: 10px;
}

.input-fields::placeholder {
    color: rgb(0 0 0 / 34%);
    font-weight: 600;
}

.select-field {
    height: 37px;
    background: #fff;
    border-radius: 4px;
    padding: 8px;
    margin-bottom: 13px;
    margin-top: 10px;
}

.modal-payment {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    width: 80%;
    max-width: 410px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    height: 85%;
    overflow-y: auto;
}

.date-container-payment {
    display: flex;
    justify-content: space-between;

}

.input-group-payment {
    margin-bottom: 10px;
    display: contents;
}

.input-group-payment label {
    display: block;
    /* Asegurarse de que ocupe su propia línea */
}

.label-fields-payment {
    font-weight: 700;
    color: gray;
    font-size: 15px;
}

.input-fields-payment {
    width: 96%;
    height: 25px;
    border: 1px solid rgb(0 0 0 / 34%);
    background: #fff;
    border-radius: 4px;
    padding: 8px;
    margin-bottom: 13px;
    margin-top: 10px;
}

.input-date-payment {
    width: 91%;
    height: 25px;
    border: 1px solid rgb(0 0 0 / 34%);
    background: #fff;
    border-radius: 4px;
    padding: 8px;
    margin-bottom: 13px;
    margin-top: 10px;
}

.input-fields-payment::placeholder {
    color: rgb(0 0 0 / 34%);
    font-weight: 600;
}

.input-date-payment::placeholder {
    color: rgb(0 0 0 / 34%);
    font-weight: 600;
}

.double-input-group {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    /* Espacio entre los dos grupos */
}

.entry {
    position: relative;
    padding-left: 30px;
    /* Espacio para la línea y el círculo */
}

.entry-color:before,
.entry-color:after {
    background-color: inherit;
}

.entry:before {
    content: "";
    position: absolute;
    top: 0;
    left: 10px;
    bottom: 0;
    width: 2px;
    background-color: var(--entry-color, grey);
}

.entry:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 1px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--entry-color, grey);
    transform: translateY(-50%);
    background-image: url('/public/images/icons/checkIcon.png');
    background-size: 13px 13px;
    background-position: center;
    background-repeat: no-repeat;
}

.entry-completed:before {
    background-color: #1C4A74;
}

.entry-pending:before {
    background-color: #6E757D;
}

.entry-completed:after {
    width: 20px;
    height: 20px;
    background-color: #1C4A74;
    background-image: url('/public/images/icons/checkIcon.png');
    background-size: 13px 13px;
    background-position: center;
    background-repeat: no-repeat;
}

.label-history-work-order {
    font-size: 13px;
    font-weight: 500;
    margin-top: 24px;
    margin-left: 28px;
    color: #6E757D;
}

.title-modal-history {
    display: flex;
    border-bottom: 1px solid #b9b9b9;
}

.div-container-history {
    margin-top: 20px;
    overflow-y: auto;
}

.button-add-product-modal {
    border: none;
    background: none;
}

.add-product-modal-icon {
    background: none;
    width: 20px;
    height: 20px;
    opacity: 50%;
    margin-right: -10px;
}

.div-search-modal {
    width: 100%;
    max-width: 98%;
    box-sizing: border-box;
    /* Esto asegura que el padding y el border están incluidos en el ancho total */
}

.products-modal-content .products-table td {
    text-align: center;
    padding: 0px;
    border-top: 1px solid black;
}

.tabs-modal {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.button-tab-modal {
    cursor: pointer;
    padding: 10px;
    background: none;
    border: none;
    font-weight: bold;
    color: #D8D9DA;
    position: relative;
}

.button-tab-modal.active {
    color: #316EA8;
}

.line-modal {
    content: '';
    position: absolute;
    bottom: 0;
    left: 57%;
    transform: translateX(-50%);
    width: 200%;
    height: 1px;
    background-color: #D8D9DA;
}

.button-tab-modal.active .line {
    background-color: #316EA8;
    height: 2px;
}

.carousel-services {
    width: 850px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
}

.div-title-carousel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 25px;
}

.accept-button-modal {
    background-color: #1C4A74;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    align-self: center;
    width: 160px;
    height: 40px;
}

.accept-button-modal.disabled {
    background-color: #6E757D;
    cursor: not-allowed;
    /* Cambia el cursor para indicar que el botón está desactivado */
}

.modal-message {
    text-align: center;
    font-size: 17px;
    padding-left: 10px;
    padding-right: 10px;
}

.icon-question {
    width: 65px;
    height: 65px;
}

.notes-textarea {
    width: 90%;
    height: 90px;
    text-align: justify;
}

.container-label {
    display: grid;
    gap: 20px;
}

.container-label label {
    font-weight: 600;
}

.container-label span {
    font-size: 16px;
    font-weight: normal;
    margin-left: 40px;
}

.paid-input {
    width: 20%;
    height: 25px;
    margin-left: 94px;
    border-radius: 3px;
    border: 1px solid #E1E1E4;
}

.Toastify__toast-container.Toastify__toast-container--top-right {
    top: 75px;
}

.manual-product-row {
    display: flex;
    align-items: center;
    margin-bottom: -35px;
}

.manual-product-row-title {
    margin-left: 210px;
}

.manual-product-row-price {
    width: 28%;
    text-align: center;
}

.manual-product-row-quantity {
    width: 4%;
    margin-left: -50px;
    text-align: center;
}

.manual-product-row-subtotal {
    margin-left: 48px;
    color: #1C4A74;
    font-weight: bold;
    font-size: 15px;
}

.manual-product-row-button {
    margin-left: 20px;
}


.manual-product-row input {
    margin-right: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 10px;;
}

.manual-operation-row {
    display: flex;
    align-items: center;
    margin-bottom: -20px;
}

.manual-operation-row input {
    margin-right: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.manual-operation-row-title {
    margin-left: 203px;
    width: 26%;
}

.manual-operation-row-cost {
    width: 23%;
    text-align: center;
}

.column-sku {
    width: 29%;
    background-color: white;
    font-size: 12px;
}

.column-title {
    width: 19%;
    background-color: white;
    font-size: 12px;
}

.column-price {
    width: 28%;
    background-color: white;
    font-size: 12px;
}

.column-quantity {
    width: 4%;
    background-color: white;
    font-size: 12px;
}

.column-total {
    width: 19%;
    background-color: white;
    font-size: 12px;
}

.column-action {
    width: 10%;
    background-color: white;
    font-size: 12px;
}

.column-code {
    width: 13%;
    background-color: white;
    font-size: 12px;
}

.column-title-operation {
    width: 14%;
    background-color: white;
    font-size: 12px;
}

.column-cost {
    width: 20%;
    background-color: white;
    font-size: 12px;
}

.manual-operation-row-button {
    margin-left: -7px;
}

.dollar-sign-input {
    display: flex;
    align-items: center;
    margin-left: 31px;
}

.dollar-sign-input-operation {
    display: flex;
    align-items: center;
    margin-left: 106px;
}

.dollar-sign-price {
    margin-right: 5px;
}

.column-total-products {
    color: #1C4A74;
    font-weight: bold;
    font-size: 15px;
}

.selectedDate-input {
    margin-left: 10px;
    border-radius: 6px;
    border: 1px solid;
}
/* Media queries para tamaños de pantalla */

@media screen and (max-width: 768px) {
    .filter-modal {
        /* Estilos para tamaños de pantalla medianos */
        width: 80%;
        max-width: 400px;
    }

    .filter-modal-overlay {
        /* Estilos para tamaños de pantalla medianos */
    }
}

@media screen and (max-width: 480px) {
    .filter-modal {
        /* Estilos para tamaños de pantalla pequeños */
        width: 90%;
        max-width: 300px;
        padding: 10px;
    }

    .filter-modal-overlay {
        /* Estilos para tamaños de pantalla pequeños */
    }

    .container {
        flex-direction: column;
    }

    .half {
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 800px) and (max-width: 1340px) and (orientation: landscape) {
    .manual-product-row-title {
        margin-left: 280px;
        width: 25%;
    }

    .manual-product-row-button {
        margin-right: 40px;
    }

    .manual-product-row-price {
        width: 29%;
    }

    .dollar-sign-input {
        margin-right: 25px;
    }

    .column-sku {
        width: 35%;
    }

    .column-title {
        width: 20%;
    }

    .column-price {
        width: 26%;
    }

    .column-quantity {
        width: 19%;
    }

    .column-action {
        width: 30%;
    }

    .column-code {
        width: 17%;
    }

    .column-title-operation {
        width: 38%;
    }

    .column-cost {
        width: 35%;
    }

    .manual-operation-row-title {
        margin-left: 200px;
        width: 30%;
    }

    .dollar-sign-input-operation {
        margin-left: 14%;
    }

    .manual-operation-row-cost {
        width: 25%;
    }

    .manual-operation-row-button {
      margin-right: 55px;
    }

}





/* Agrega los estilos específicos para cada tamaño de pantalla según sea necesario */