.left-section-new-client {
    background-color: var(--gray-neutral-light);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right-section-new-client {
    background-color: var(--gray-medium);
    padding: 20px;
}

.containerNewClientTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.containerNewClientTitle h2 {
    flex: 1;
    text-align: left;
}

.containerNewClient-form {
    margin-bottom: 20px;
}

.button-next {
    width: 167px;
    height: 40px;
    background-color: var(--second-color);
    color: var(--white);
    font-weight: bold;
    border: none;
    border-radius: 6px;
    font-size: 17px;
}

.container-button-next {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: auto;
}

.input-form {
    width: 88%;
    max-width: 95%;
    height: 30px;
    border: 1px solid var(--black-alpha-34);
    background: var(--white);
    border-radius: 4px;
    padding: 8px;
    margin-bottom: 20px;
    margin-top: 8px;
    padding-left: 50px;
}

.input-form-detail {
    width: 94%;
    max-width: 95%;
    height: 30px;
    border: 1px solid var(--black-alpha-34);
    background: var(--white);
    border-radius: 4px;
    padding: 8px;
    margin-bottom: 20px;
    margin-top: 8px;
    padding-left: 50px;
}

.input-form-add-vehicle-modal {
    width: 82%;
    max-width: 94%;
    height: 30px;
    border: 1px solid var(--black-alpha-34);
    background: var(--white);
    border-radius: 4px;
    padding: 8px;
    margin-bottom: 20px;
    margin-top: 8px;
    padding-left: 50px;
}

.custom-select-control {
    border: 1px solid var(--light-silver-gray);
    border-radius: 4px;
}

.custom-select-control--focused {
    box-shadow: 0 0 0 2px var(--gray-muted);
}

.custom-select-option {
    background-color: transparent;
    width: 50%;
}

.custom-select-option--selected {
    background-color: var(--gray-light-medium);
}

.custom-select-option--hover {
    background-color: var(--gray-very-light);
}



.input-plate-modal {
    width: 65%;
    height: 68px;
    border: 5px solid var(--pure-black);
    background: var(--white);
    border-radius: 10px;
    padding: 8px;
    margin-bottom: 20px;
    margin-top: 8px;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    padding-top: 18px;
    padding-block-start: 23px;
    box-shadow: 0 0 0 3px var(--white), 0 0 0 3px var(--white);
    margin-right: 10px;
}

.input-container {
    flex: 1;
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: 10px 3px 0;
    margin-bottom: 15px;
}

.input-container-modal {
    position: relative;
    margin-top: 10px;
    margin-left: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.label-new-plate-vehicle {
    position: absolute;
    top: 23%;
    left: 10%;
    transform: translateY(-50%);
    transition: transform 0.3s ease-out, font-size 0.3s ease-out;
    pointer-events: none;
    color: var(--pure-black);
    font-size: 20px;
    font-weight: 700;

}

.input-container .flag-icon {
    height: 20px;
    width: 24px;
    margin-right: 6px;
}

.input-container.active label {
    top: 23%;
}


.input-container-modal .flag-icon {
    height: 23px;
    width: 26px;
    position: absolute;
    top: 23%;
    left: 60%;
    transform: translateY(-50%);
}

.input-container-modal .active label {
    top: 23%;
}

.container-add-car-form {
    margin-bottom: 20px;
    margin-left: 16px;
}

.container-add-car-modal {
    margin-left: 16px;
    height: 600px;
}

.form-scroll {
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
}

.button-alert {
    background: none;
    border: none;
    padding: 8px;
    cursor: pointer;
    margin-left: 13px;
    margin-top: 64px;
}

.alert {
    width: 30px;
    height: 30px;
}

.icon-role-option {
    position: absolute;
    left: 13px;
    top: 42%;
    transform: translateY(-50%);
    width: 23px;
}

.button-arrow-new-client {
    background: none;
    border: none;
    margin-left: -9px;
    margin-top: 5px;
}

.arrow-icon-new-client {
    width: 30px;
    height: 30px;
}

.add-new-vehicle {
    background: none;
    border: none;
    font-size: 15px;
    font-weight: 700;
    color: var(--second-color);
    margin-top: 13px;
    margin-left: 7px;
}

.label-plate-vehicle-modal {
    position: absolute;
    top: 23%;
    left: 31%;
    transform: translateY(-50%);
    transition: transform 0.3s ease-out, font-size 0.3s ease-out;
    pointer-events: none;
    color: var(--pure-black);
    font-size: 20px;
    font-weight: 700;
}

.form-scroll-vehicle-modal {
    max-height: 96%;
    overflow-y: auto;
}

@media screen and (max-width: 768px) {

    .left-section-new-client,
    .right-section-new-client {
        width: 100%;
    }

    .containerNewClientTitle {
        flex-direction: column;
    }

    .containerNewClientTitle h2 {
        text-align: center;
        margin-bottom: 10px;
    }

    .right-section-new-client .input-plate {
        width: 70%;
    }
}

@media screen and (max-width: 320px) {

    .left-section-new-client,
    .right-section-new-client {
        width: 100%;
    }

    .containerNewClientTitle {
        flex-direction: column;
    }

    .containerNewClientTitle h2 {
        text-align: center;
        margin-bottom: 10px;
    }

    .right-section-new-client .input-plate {
        width: 70%;
    }
}

@media screen and (max-width: 480px) {
    .search-box {
        width: 100%;
        max-width: 300px;
    }

    .input-form {
        margin-bottom: 10px;
    }

    .right-section-new-client .input-plate {
        width: 70%;
    }
}

@media screen and (min-width: 800px) and (max-width: 1340px) and (orientation: landscape) {

    .label-flag {
        margin-left: 73px;
    }

    .input-container .flag-icon {
        left: 63px;
        margin-top: -2px;
    }

    .input-container label {
        left: 3%;
    }

    .label-new-plate-vehicle {
        margin-left: 13%;
    }

    .input-form {
        width: 100%;
    }

    .form-scroll {
        height: 550px;
    }

    .container-add-car-modal {
        height: 480px;
    }

}

@media (max-width: 1440px) and (max-height: 900px) and (orientation: landscape) {

    .input-container .flag-icon {
        left: calc(10% - -10px);
    }

    .label-flag {
        margin-left: -24%;
        margin-bottom: 11%;
        color: var(--pure-black);
        font-size: 20px;
        font-weight: 700;
    }

    .label-new-plate-vehicle {
        margin-left: 3%;
    }




}