.left-section-operation {
    background-color: var(--gray-neutral-light);
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.right-section-operation {
    background-color: var(--gray-medium);
    padding: 20px;
}

.container-general-operation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-new-operation {
    margin-left: 50px;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 20px;
}

.row-operation {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.container-new-operation label {
    font-size: 20px;
    font-weight: 500;
    margin-right: 20px;
}

.container-new-operation input {
    width: 300px;
    height: 50px;
    border: 1px solid var(--black-transparent);
    background: var(--white);
    border-radius: 8px;
    font-size: 16px;
    margin-left: 50px;
}


.accept-button {
    width: 180px;
    height: 50px;
    background-color: var(--second-color);
    border: none;
    border-radius: 6px;
}

.accept-button-disabled {
    width: 180px;
    height: 50px;
    background-color: var(--gray-dark);
    border: none;
    border-radius: 6px;
}

.edit-button {
    width: 180px;
    height: 50px;
    background-color: var(--second-color);
    border: none;
    border-radius: 6px;
}

.text-button-operation {
    color: var(--white);
    font-weight: bold;
    font-size: 17px;
}

.result-operation {
    max-width: 98%;
    height: 50px;
    background: var(--white);
    border: 1px solid var(--gray-medium-light);
}

.title-operation {
    display: flex;
    height: 50px;
    flex-direction: column;
    justify-content: center;
    color: var(--pure-black);
    font-size: 19px;
    font-style: normal;
    font-weight: 300;
    padding-left: 10px;
}

.delete-operation-button {
    height: 40px;
    border: none;
    margin-top: 3px;
    background: none;
}

.delete-icon-operation {
    width: 35px;
    height: 35px;
    margin-top: -7px;
    margin-right: -10px;
}

.button-unavailable-operation {
    width: 85px;
    height: 40px;
    border: none;
    background: none;
    margin-top: -16px;
}

.button-unavailable-operation-icon {
    width: 50px;
    height: 50px;
    margin-right: -25px;
}

.button-edit-operation {
    width: 60px;
    height: 40px;
    border: none;
    background: none;
    margin-top: -12px;
}

.button-edit-operation-icon {
    width: 40px;
    height: 40px;
    margin-right: -15px;
}

.input-title-operation {
    text-transform: uppercase;
    padding-left: 10px;
}

.input-cost-operation {
    padding-left: 10px;
    display: inline-block;
}

.input-cost-operation {
    padding-left: 25px;
    /* Espacio para el signo de dólar */
}

.dollar-sign {
    font-size: 2rem;
    font-weight: 600;
    color: #333;
}

.input-with-sign {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.input-total-cost-operation {
    width: 100%;
    flex: 1 1 auto;
    height: 50px;
    border: 1px solid var(--black-alpha-34);
    background: var(--white);
    border-radius: 8px;
    font-size: 16px;
    box-sizing: border-box;
    outline: none;
    transition: border 0.3s ease;
    box-sizing: border-box;
    padding: 0.2rem 0.6rem;
}

.input-title-service {
    text-transform: uppercase;
    padding-left: 10px;
}

.input-cost-service {
    padding-left: 10px;

}