.general-information-inventory {
    background-color: var(--gray-light);
    margin-top: 1rem;
    height: calc(100vh - 80px);
}

.information-product-container {
    margin-top: -1rem;
    margin-right: -0.3rem;
}

.container-general-iventory {
    position: relative;
    z-index: 1;
    border-radius: 1rem;
    border-top: 1px solid var(--gray-muted);
    margin-top: -1rem;
    background-color: var(--white-cloud);
    height: calc(100vh - 80px);
    box-shadow: 0 -3px 16px -2px rgba(0, 0, 0, 0.1);
}

.container-section-product {
    display: flex;
    gap: 20px;
    padding: 1.5rem;
    flex-wrap: wrap;
    margin-left: 0.8rem;
}

.product-column-information {
    flex: 2;
    min-width: 250px;
    background-color: var(--white-cloud);
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.section-product-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
    color: var(--primary-color);
}

.field-group-information {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
}

.field-group-information label {
    color: var(--gray-obsidian);
    font-weight: 600;
}

.input-with-icon {
    position: relative;
    width: 100%;
}

.input-with-icon input,
.input-with-icon .react-select__control {
    padding-left: 40px;
}

.input-product-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 23px;
    height: 23px;
    pointer-events: none;
    fill: currentColor;
    color: var(--tertiary-color);
}

.name-product,
.description-product,
.price-product,
.stock-product,
.column-product,
.row-product,
.category-product,
.brand-product,
.compatibility-product {
    width: 100%;
    flex: 1 1 auto;
    height: 50px;
    border: 1px solid var(--black-alpha-34);
    background: var(--white);
    border-radius: 8px;
    padding-left: 10px;
    font-size: 16px;
    box-sizing: border-box;
    outline: none;
    transition: border 0.3s ease;
    box-sizing: border-box;
}

.product-column-image {
    flex: 1;
    min-width: 150px;
    background-color: var(--white-cloud);
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.title-with-edit {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.container-product-image {
    width: 245px;
    height: 245px;
    border-radius: 1rem;
    overflow: hidden;
    background: var(--gray-linen);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    margin-top: 0.5rem;
}

.input-new-product-icon {
    position: absolute;
    left: 13px;
    top: 50%;
    transform: translateY(-50%);
    width: 26px;

}

.default-icon {
    width: 50%;
    height: 50%;
    fill: currentColor;
    color: var(--tertiary-color);
}

.action-icon-container {
    margin-left: auto;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.8rem;
}

.action-icon {
    width: 25px;
    height: 25px;
    fill: currentColor;
    color: var(--blue-medium);
}

.outer-container {
    display: flex;
    gap: 20px;
    padding: 1.5rem;
    box-sizing: border-box;
    width: 100%;
    flex-wrap: wrap;
    margin-top: -2rem;
    margin-left: 0.8rem;
}

.below-product-container {
    flex: 2;
    display: flex;
    width: 100%;
    box-sizing: border-box;
}

.left-right-group {
    display: flex;
    gap: 20px;
    width: 100%;
}

.field-row {
    display: flex;
    gap: 1rem;
    width: 100%;
    box-sizing: border-box;
    margin-top: 0.8rem;
}

.left-box {
    flex: 1;
    background-color: var(--white-cloud);
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin-left: 0px;
}

.right-box {
    flex: 1;
    background-color: var(--white-cloud);
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin-right: -2rem;
}

.image-extra-container {
    flex: 1;
    background-color: var(--white-cloud);
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin-left: 2rem;
    margin-right: 1rem;
}

.last-container {
    display: flex;
    padding: 1.5rem;
    flex-wrap: wrap;
    margin-left: 0.8rem;
    margin-top: -2rem;
}

.last-information-container {
    flex: 2;
    min-width: 250px;
    background-color: var(--white-cloud);
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.product-container-title {
    display: flex;
    flex: 4;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
}

.left-title-box {
    flex: 3;
}

.title-box {
    display: flex;
    gap: 20px;
    align-items: last baseline;
}

.right-title-box {
    flex: 1;
    text-align: end;
}

.product-container-title label {
    font-size: 35px;
    font-weight: 700;
}

.product-container-title span {
    font-size: 23px;
    font-weight: 500;
}

.add-product-button {
    border: none;
    background: none;
}

.add-product-icon {
    width: 25px;
    height: 25px;
}

.container-table-inventory {
    margin-left: 2rem;
    margin-right: 2rem;
}

.button-edit-product {
    border: none;
    background: none;
}

.edit-product-icon {
    background: none;
    width: 30px;
    height: 30px;
    fill: currentColor;
    color: var(--blue-intense);
}

.default-icon-table {
    width: 25px;
    height: 25px;
    border-radius: 10%;
    border: 1px solid var(--black-alpha-20);
    padding: 5px;
    fill: currentColor;
    color: var(--tertiary-color);
}

.input-image {
    width: 73%;
    height: 30px;
    border: 1px solid var(--black-alpha-34);
    background: var(--white);
    border-radius: 4px;
    padding: 8px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.custom-select-control-supplier {
    border: 1px solid var(--light-silver-gray);
    border-radius: 4px;
    flex: 3;
}

.custom-select-control-supplier--focused {
    box-shadow: 0 0 0 2px var(--gray-muted);
}

.custom-select-option-supplier {
    background-color: transparent;
    width: 50%;
}

.custom-select-option-supplier--selected {
    background-color: var(--gray-light-medium);
}

.custom-select-option-supplier--hover {
    background-color: var(--gray-very-light);
}

.spinner-container-products {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100%;
}


@media (max-width: 768px) {

    .container-section-product {
        flex-direction: column;
    }

    .below-product-container {
        flex-direction: column;
    }

    .left-right-group {
        flex-direction: column;
    }
}
