.search-bar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 38px;
    margin-top: 30px;
}

.search-products-box {
    display: flex;
    align-items: center;
    width: 45%;
    /* o cualquier otro porcentaje que funcione para ti */
    padding: 5px;
    border-radius: 6px;
    border: 2px solid rgba(134, 134, 134, 0.31);
    background: rgba(128, 128, 128, 0.26);
    margin-right: 50px;
}


.input-search-products {
    border: none;
    outline: none;
    background: transparent;
    margin-left: 8px;

}

.input-search-products::placeholder {
    font-weight: bold;
}

.input-search-products::-moz-placeholder {
    font-weight: bold;
}

.input-search-products::-moz-placeholder {
    font-weight: bold;
}

.input-search-products::-ms-input-placeholder {
    font-weight: bold;
}

.input-search-products::-ms-input-placeholder {
    font-weight: bold;
}

.input-search-products::-webkit-input-placeholder {
    font-weight: bold;
}

.search-products-icon {
    width: 25px;
    height: 25px;
}

.custom-select-option-product {
    background-color: transparent;
}

.custom-select-option-product--selected {
    background-color: #ddd;
}

.custom-select-option-product--hover {
    background-color: #f5f5f5;
}