.stock-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 69vh;
    margin: 0;
    padding: 0;
    margin-top: -15px
}

.label-input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
    justify-content: center;
    margin-top: 30px;
}

.label-input-container label {
    font-size: 24px;
    font-weight: 700;
}

.label-input-container input {
    border: 1px solid rgba(0, 0, 0, 0.50);
    border-radius: 8px;
    height: 40px;
    width: auto;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.stock-button {
    width: 160px;
    height: 50px;
    background-color: #1C4A74;
    border: none;
    border-radius: 6px;
    font-size: 17px;
}

.span-stock-button {
    color: white;
    font-weight: bold;
    font-size: 19px;
}

.spinner-container-stock {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center;     /* Centrar verticalmente */
    height: 50vh;           /* Ocupar toda la altura de la vista */
    width: 100%;
}