.users-container-title {
    display: flex;
    justify-content: space-between;
    width: 20%;
    margin-left: 2rem;
    margin-top: 2rem;
    align-items: center;
    gap: 30px
}

.users-container-title label {
    font-size: 2em;
    font-weight: 700;
}

.users-container-title span {
    font-size: 23px;
    font-weight: 500;
}

.add-user-button {
    border: none;
    background: none;
}

.add-user-icon {
    width: 25px;
    height: 25px;
}

.button-more-information-user {
    border: none;
    background: none;
}

.eye-user-icon {
    background: none;
    width: 30px;
    height: 30px;
    opacity: 50%;
}

.general-user {
    display: flex;
}

.general-user-right {
    flex: 2;
    overflow-x: auto;
}

.general-user-left {
    margin: 10px;
    margin-top: 40px
}

.custom-select-option-user {
    background-color: transparent;
}

.custom-select-option-user--selected {
    background-color: #ddd;
}

.custom-select-option-user--hover {
    background-color: #f5f5f5;
}

.custom-option-select {
    background-color: transparent;
}

.custom-option-select--selected {
    background-color: #ddd;
}

.custom-option-select--hover {
    background-color: #f5f5f5;
}

.container-user-information {
    border-radius: 10px;
    border: 1px solid #D4D4D4;
    background: #F8F8F8;
    width: 20vw;
    max-width: 330px;
    height: auto;
}

.container-button-edit-user {
    text-align: center;
    margin-top: 20px;
}

.button-edit-user {
    background: none;
    border: none;
}

.icon-edit-user {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.button-suspend-user {
    background: none;
    border: none;
}

.icon-suspend-user {
    width: 35px;
    height: 35px;
    margin-bottom: -5px;
    margin-left: -6px;
}

.icon-edit-profile {
    width: 20px;
    height: 20px;
    margin-top: 9px;
    margin-left: 5px;
}

.div-icon-edit-profile {
    border-radius: 50%;
    object-fit: cover;
    width: 36px;
    height: 36px;
    border: 0.5px solid #316EA8;
    background-color: #316EA8;
    text-align: center;
    margin-top: -46px;
    margin-left: 89px;
}

.container-profile-picture-user {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

.profile-picture-user {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.label-unique-code {
    color: #000;
    text-align: center;
    font-size: 27px;
    font-style: normal;
    font-weight: 500;
}

.label-user-name {
    color: #000;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 200;
}

.label-rol-user {
    color: #00358B;
    font-size: 20px;
    font-style: normal;
    font-weight: 100;
    margin-top: -13px;
}

.container-status-user {
    text-align: center;
}

.label-status-user {
    color: #3E3E3E;
    font-size: 29px;
    font-style: normal;
    font-weight: 300;
    margin-right: 33px;
}

.label-status {
    font-size: 29px;
    font-style: normal;
    font-weight: 500;
}

.container-button-user-action {
    display: grid;
    margin-top: 33px;
    margin-bottom: 20px;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.buttons-user {
    width: 250px;
    height: 50px;
    border-radius: 6px;
    border: 2px solid #000;
    background: #0C1F31;
}

.span-button-user {
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
}

.label-name-user {
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
}

.label-name-user-container {
    display: grid;
    width: 100%;
    text-align: left;
    gap: 10px;
}

.input-name-user {
    width: 81%;
    height: 34px;
    border: 1px solid rgb(0 0 0 / 34%);
    background: #fff;
    border-radius: 4px;
    padding-left: 48px;
}

.label-title-view {
    font-size: 18px;
    font-weight: 700;
}

.container-modal-fields {
    margin-top: 20px;
}

.container-modal-fields>div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.container-modal-fields label {
    margin-right: 22px;
    font-weight: bold;
}

.container-modal-fields input {
    width: 160px;
    height: 33px;
    border: 1px solid rgb(0 0 0 / 34%);
    background: #fff;
    border-radius: 4px;
    padding-left: 40px;
}

.label-modal-message {
    font-size: 15px;
    font-style: normal;
    font-weight: 200;
}

.profile-picture-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.error-message {
    color: red;
    font-size: 12px;
}

.input-form-new-user {
    position: relative;
    width: 100%;
}

.input-form-new-user-modal {
    position: relative;
}

.input-new-user-icon {
    position: absolute;
    left: 13px;
    top: 50%;
    transform: translateY(-50%);
    width: 23px;
}

@media screen and (max-width: 768px) {

    /* Tablet y dispositivos móviles */
    .general-user-right {
        width: 40%;
    }

    .container-user-information {
        padding: 1rem;
        /* otros ajustes */
    }
}

@media screen and (max-width: 480px) {

    /* Dispositivos móviles */
    .users-container-title label {
        font-size: 1.5em;
        /* reducir el tamaño de la fuente */
    }

    /* Adapta otras clases según sea necesario */
}

@media screen and (min-width: 800px) and (max-width: 1340px) and (orientation: landscape) {

    .buttons-user {
        max-width: 75%;
    }

    .container-button-user-action {
        margin-left: 65px;
    }

    .span-button-user {
        font-size: 16px;
    }

    .label-status-user {
        margin-right: 20px;
        font-size: 25px;
    }

    .label-status {
        font-size: 25px;
    }

    .input-form-new-user {
        width: 91%;
    }

    .container-user-information {
        width: 40vh;
    }
}

@media (max-width: 1439px) {
    /* Agrega aquí tus estilos específicos para pantallas más pequeñas */
}

/* Estilos para pantallas de 1440 x 900 y mayores (computadoras de escritorio) */
@media (min-width: 1440px) {
    /* Agrega aquí tus estilos específicos para pantallas de 1440 x 900 y mayores */
}

@media (max-width: 1439px) {
    .react-select-container {
      width: 100px; /* Ajusta el ancho según tus necesidades */
    }
  }
  
  /* Estilos para pantallas de 1440 x 900 y mayores (computadoras de escritorio) */
  @media (min-width: 1440px) {
    .react-select-container {
      width: 100px; /* Ajusta el ancho según tus necesidades para pantallas más grandes */
    }
  }