.work-order-container {
    position: absolute;
    top: 80px;
    bottom: 0;
    left: 60px;
    right: 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 0px;
    overflow: hidden;
}

.left-section-work-order {
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
    box-sizing: border-box;
}

.right-section-work-order {
    background-color: #d0d0d0;
    padding: 20px;
    overflow-y: auto;
    height: 100%;
    box-sizing: border-box;
}

.container-list-work-orders {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 5px;
}

.result-work-order {
    max-width: 98%;
    min-height: 70px;
    background: #FFF;
    border: 1px solid #D4D4D4;
    display: grid;
    grid-template-columns: 1.2fr 1fr 1fr 0.3fr;
    border-radius: 5px;
    margin-bottom: 10px;
    align-items: center;
}

.first-result-work-orders,
.second-result-work-order,
.third-result-work-order {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.first-result-work-orders {
    margin-left: 12px;
}

.div-label-work-order-code {
    text-align: center;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
}

.div-label-work-order-client {
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.second-result-work-order {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-plate-container-work-order {
    position: relative;
    text-align: center;
}

.input-plate-container-work-order label {
    position: absolute;
    top: 36%;
    left: 42%;
    transform: translateY(-50%);
    pointer-events: none;
    color: black;
    font-weight: 450;
    font-size: 9px;
}

.input-plate-container-work-order .ecuador-icon {
    height: 11px;
    width: 11px;
    position: absolute;
    top: 35%;
    left: calc(50% - 33px);
    transform: translateY(-50%);
}

.input-plate-vehicle-work-order {
    width: 95px;
    box-sizing: border-box;
    height: 13px;
    border: 2px solid #000;
    background: #fff;
    border-radius: 10px;
    padding: 11px;
    margin-bottom: 10px;
    margin-top: 11px;
    padding-top: 23px;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    box-shadow: 0 0 0 3px #fff, 0 0 0 3px #fff;
}

.third-result-work-order {
    display: grid;
    place-items: center;
}

.fourth-result-work-order {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-label-status {
    text-align: center;
    width: 100px;
    font-size: 15px;
    font-weight: 700;
}

.div-label-date {
    margin-top: 1px;
    text-align: center;
    width: 100px;
    font-size: 12px;
}


.container-button-add-work-orders {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 84vh;
}

.button-add-work-orders {
    width: 216px;
    height: 64px;
    background-color: #1C4A74;
    border: none;
    border-radius: 6px;
    font-size: 17px;
}

.text-button-add-work-orders {
    color: white;
    font-weight: bold;
    font-size: 17px;
}

.Toastify__toast-container.Toastify__toast-container--top-right {
    top: 75px;
}

.div-image-receipt {
    background-image: linear-gradient(to bottom, #1C4A74 -10%, #316EA8 11%, #0C1F31 100%);
    width: 30px;
    height: 30px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.infinite-scroll-loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%;
    min-height: 80px;
}

@media screen and (max-width: 768px) {
    .work-order-container {
        position: absolute;
        display: block;
        left: 0;
    }

    .left-section-work-order,
    .right-section-work-order {
        width: 100%;
    }

}

@media screen and (max-width: 320px) {
    .work-order-container {
        position: static;
        display: block;
        margin-top: 160px;
        margin-left: 0;
    }

    .left-section-work-order,
    .right-section-work-order {
        width: 100%;
    }

}

@media screen and (min-width: 768px) and (max-width: 1340px)  {
    .work-order-container {
        grid-template-columns: 1.2fr 1.8fr;
    }

    .result-work-order {
        grid-template-columns: 1.1fr 0.9fr 0.95fr 0.3fr;
        min-height: 70px;
        margin-bottom: 8px;
    }

    .first-result-work-orders {
        margin-left: 6px;
    }

    .div-label-work-order-code {
        font-size: 15px;
    }

    .div-label-work-order-client {
        font-size: 12px;
        max-width: 150px;
    }

    .div-label-status {
        font-size: 15px;
        width: 80px;
    }

    .div-label-date {
        font-size: 12px;
        width: 80px;
    }

    .input-plate-vehicle-work-order {
        width: 90px;
        height: 18px;
        font-size: 15px;
        margin-top: 0.8rem;
        padding: 10px;
        padding-top: 18px;
    }

    .input-plate-container-work-order label {
        font-size: 10px;
        left: 55%;
        top: 31%;
        transform: translateX(-50%);
    }

    .input-plate-container-work-order .ecuador-icon {
        height: 10px;
        width: 10px;
        left: calc(50% - 30px);
        top: 36%;
    }

    .div-image-receipt {
        width: 24px;
        height: 24px;
    }

    .left-section-work-order,
    .right-section-work-order {
        padding: 15px;
    }

    .container-list-work-orders {
        padding-right: 3px;
    }
}

@media (max-width: 1440px) and (max-height: 900px) {

    .div-label-work-order-code {
        font-size: 15px;
    }

    .div-label-status {
        font-size: 13px;
    }

    .div-label-date {
        font-size: 11px;
    }

    .div-image-receipt {
        width: 23px;
        height: 23px;
    }

}

@media (max-width: 1024px) and (orientation: portrait) {
    .work-order-container {
        display: flex;
        flex-direction: column;
        left: 4.5rem;
        padding: 0;
    }

    .left-section-work-order, .right-section-work-order {
        display: contents;
    }

    .work-order-container .container-custom-button {
        order: 1;
        width: 100%;
        height: auto;
        padding: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        background-color: transparent;
        margin-top: 0.3rem;
    }

    .title-search-wrapper {
        order: 2;
        width: 100%;
    }

    .container-list-work-orders {
        order: 5;
        flex: 1;
        overflow-y: auto;
        margin-right: 1rem;
        max-height: 81%;
    }

    .work-order-container .loader-container {
        order: 5;
        height: auto;
        flex: 1;
        min-height: 0;
    }

    .result-work-order {
        grid-template-columns: 1.3fr 0.9fr 1fr 0.3fr;
        min-height: 60px;
        margin-bottom: 8px;
    }

    .first-result-work-orders {
        margin-left: 6px;
    }

    .div-label-work-order-code {
        font-size: 15px;
    }

    .div-label-work-order-client {
        font-size: 12px;
        max-width: 100%;
    }

    .div-label-status {
        font-size: 15px;
        width: auto;
    }

    .div-label-date {
        font-size: 12px;
        width: auto;
    }

    .input-plate-vehicle-work-order {
        width: 100px;
        height: 40px;
        font-size: 13px;
        padding: 1px;
        padding-top: 14px;
    }

    .input-plate-container-work-order label {
        font-size: 10px;
    }

    .input-plate-container-work-order .ecuador-icon {
        height: 15px;
        width: 15pxx;
    }

    .div-image-receipt {
        width: 18px;
        height: 18px;
    }

}